@charset "UTF-8";




.copyright{
    font-size: 10px;
    /* white-space: unset; */
}





/* -------------------------------------------------------section------------------------------------------------------- */
/* section */

.about-me-wrap{
    padding: 0 20px;

    gap: 20px;
}
.about-me-top, .about-me-bot{
    gap: 20px;
}
.profile span, .education span, .license span, .skill span{
    font-size: 13px;
}
.profile p, .education p, .license p{
    font-size: 13px;
}
.skill img{
    width: 20px;
    height: 20px;
}




.project-info-wrap{
    padding: 0;
}
.page-view img{
    display: none;
}




.mail p, .phone p{
    font-size: 20px;
}