@charset "utf-8";

/* 기본세팅 시작 */
body{position:relative;font-size:17px;color:#464646;line-height:30px;letter-spacing:-0.02em;font-weight:300;font-family:'Pre','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;overflow-x:hidden;}
a:link{color:#000;text-decoration:none;}
a:visited{color:#000;text-decoration:none;}
a:hover{color:#000;text-decoration:underline;}
a:active{color:#000;text-decoration:underline;}
a span{cursor:pointer;}
button{cursor:pointer;font-family:'Pre','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;}
input{font-family:'Pre','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;}
input[type='submit']{cursor:pointer;}
/* 기본세팅 끝 */

/* Slider 세팅 시작 */
.slick-slider{position:relative;display:block;box-sizing:border-box;}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0;}
.slick-list:focus{outline:none;}
.slick-list.dragging{cursor:pointer;}
.slick-track{ position:relative;top:0;left:0;display:block;}
.slick-track:before,.slick-track:after{display:table;content:'';}
.slick-track:after{clear:both;}
.slick-loading .slick-track{visibility:hidden;}
.slick-slide{display:none;float:left;height:100%;min-height:1px;}
[dir='rtl'] .slick-slide{float:right;}
.slick-slide img{display:block;width:100%;}
.slick-slide.slick-loading img{display:none;}
.slick-initialized .slick-slide{display:block;}
.slick-loading .slick-slide{visibility:hidden;}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent;}
#scrollbar{display:block;visibility:hidden;overflow-x:scroll;overflow-y:scroll;position:absolute;top:-100px;left:-100px;z-index:-1;width:100px;height:100px;}
/* Slider 세팅 끝 */

/* 메뉴 css 세팅 시작 */
.menu.init, .menu.init:before, .menu.init:after, .menu.init .depth, .menu.init .depth:before, .menu.init .depth:after, .menu.init .depth_list, .menu.init .depth_list:before, .menu.init .depth_list:after, .menu.init .depth_item, .menu.init .depth_item:before, .menu.init .depth_item:after, .menu.init .depth_text, .menu.init .depth_text:before, .menu.init .depth_text:after, .menu.init .depth_title, .menu.init .depth_title:before, .menu.init .depth_title:after{transition-property:all;transition-duration:0.25s;transition-timing-function:linear;}
.menu, .menu .depth, .menu .depth_list, .menu .depth_item, .menu .depth_text{position:relative;}
.menu{font-size:0;line-height:0;}
.menu .depth:not(.depth1){visibility:hidden;opacity:0;overflow:hidden;}
.menu .depth1{z-index:30;}
.menu .depth_list{z-index:10;}
.menu .depth_text{display:inline-block;}
/* 1, 2차 메뉴 배경 */
.menu.before:before, .menu.after:after{display:block;position:absolute;}
.menu.before:before{z-index:10;}
.menu.after:after{z-index:20;}
/* 제목 상자 */
.menu .depth_title{overflow:hidden;position:absolute;z-index:20;}
/* 옵션 */
.menu .depth1.clearfix .depth1_list{float:right;}
.menu .depth_list.clearfix > .depth_item{float:left;}
.menu .depth_list.cut > .depth_item{display:inline-block;vertical-align:top;}
/* 풀 다운 */
.menu.pulldown .depth1{height:100%;}
.menu.pulldown .depth1_list, .menu.pulldown .depth1_item{height:inherit;}
.menu.pulldown .depth2{position:absolute;bottom:0;left:0;width:100%;}
/* 이치 다운 */
.menu.eachdown .depth1{height:100%;}
.menu.eachdown .depth1_list, .menu.eachdown .depth1_item{position:relative;height:inherit;}
.menu.eachdown .depth2{position:absolute;bottom:0;left:0;width:100%;}
/* 드롭 다운 */
.menu.dropdown .depth2{position:absolute;top:100%;left:0;width:100%;transform-origin:center top;}
/* 메뉴 css 세팅 끝 */

/* 영역잡기 wrapper, wrap 시작 */
#wrapper{position:relative;min-width:1500px;overflow:hidden;}
.wrap{position:relative;width:1500px;margin:0 auto;}
.skip{position:absolute;top:0;left:0;width:0;height:0;font-size:0;line-height:0;overflow:hidden;}
@media all and (max-width:1500px){
    #wrapper{min-width:1000px;overflow-x:hidden;}
    .wrap{width:94%;}
    .wrap .wrap{width:100%;}
}
@media all and (max-width:1000px){
    #wrapper{min-width:0;}
    .wrap{padding-left:0;padding-right:0;}
}
/* 영역잡기 wrapper, wrap 끝 */

/* --------------- header 시작 --------------- */
#header{display:block;position:relative;z-index:31;width:100%;font-size:0;line-height:0;box-sizing:border-box;}


/* header_gnb */
.header_gnb{position:relative;z-index:21;overflow:hidden;}
.header_gnb .gnb_link_list{float:left;margin-top:12px;font-size:0;line-height:0;}
.header_gnb .gnb_link_list .gnb_link_item{display:inline-block;position:relative;vertical-align:top;}
.header_gnb .gnb_link_list .gnb_link_item:nth-last-child(1){z-index:1;}
.header_gnb .gnb_link_list .gnb_link_item:nth-last-child(2){z-index:2;}
.header_gnb .gnb_link_list .gnb_link_item:nth-last-child(3){z-index:3;}
.header_gnb .gnb_link_list .gnb_link_item .item_area{overflow:hidden;width:260px;box-shadow:20px 0 34px 6px rgba(23,46,35,0.2);background-color:#19a357;border-radius:30px 30px 0 0;}
.header_gnb .gnb_link_list .gnb_link_item .item_area:before{display:block;position:absolute;bottom:0;right:-15px;width:15px;height:15px;background:url(../images/common/gnb_link_item_deco.png) center center / cover no-repeat;}
.header_gnb .gnb_link_list .gnb_link_item.youth_item .item_area{background-color:#ecffe3;}
.header_gnb .gnb_link_list .gnb_link_item.youth_item .item_area:before{background-image:url(../images/common/gnb_link_item_deco02.png);}
.header_gnb .gnb_link_list .gnb_link_item .item_area span{width:100%;font-size:18px;color:#fff;letter-spacing:0.02em;line-height:48px;font-family:'Paper', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif;font-weight:500;word-break:keep-all;text-align:center;}
.header_gnb .gnb_link_list .gnb_link_item.youth_item .item_area span{color:#2a2a2a;}
.header_gnb .gnb_right{float:right;}
.header_gnb .gnb_right .gnb_list{margin-top:20px;}
.header_gnb .gnb_right .gnb_list .gnb_item{display:inline-block;position:relative;margin-right:20px;vertical-align:top;}
.header_gnb .gnb_right .gnb_list .gnb_item:last-child{margin-right:0;}
.header_gnb .gnb_right .gnb_list .gnb_item:before{display:block;position:absolute;top:10px;right:-10px;width:3px;height:3px;background-color:#a5a49d;border-radius:50%;}
.header_gnb .gnb_right .gnb_list .gnb_item:last-child:before{display:none;}
.header_gnb .gnb_right .gnb_list .gnb_item .gnb_link{position:relative;padding-right:24px;}
.header_gnb .gnb_right .gnb_list .gnb_item .gnb_link:before{display:block;position:absolute;top:2px;right:0;width:18px;height:18px;background-image:url(../images/common/gnb_link_icon.png);background-size:cover;background-repeat:no-repeat;}
.header_gnb .gnb_right .gnb_list .gnb_item .gnb_link.login:before{background-position:calc(-18px * 0) 0;}
.header_gnb .gnb_right .gnb_list .gnb_item .gnb_link.sitemap:before{background-position:calc(-18px * 1) 0;}
.header_gnb .gnb_right .gnb_list .gnb_item .gnb_link.logout:before{background-position:calc(-18px * 2) 0;}
.header_gnb .gnb_right .gnb_list .gnb_item .gnb_link.mypage:before{background-position:calc(-18px * 3) 0;}
.header_gnb .gnb_right .gnb_list .gnb_item .gnb_link em{font-size:16px;color:#464646;letter-spacing:-0.01em;line-height:24px;font-family:'Pre', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif;font-weight:500;word-break:keep-all;}
@media all and (max-width:1500px){
    .header_gnb .gnb_link_list .gnb_link_item .item_area{width:195px;border-radius:20px 20px 0 0;}
    .header_gnb .gnb_link_list .gnb_link_item .item_area span{font-size:16px;line-height:46px;}
}
@media all and (max-width:1000px){
    .header_gnb .gnb_right{display:none;}
    .header_gnb .gnb_link_list .gnb_link_item{display:none;}
    .header_gnb .gnb_link_list .gnb_link_item.youth_item{display:inline-block;}
    .header_gnb .gnb_link_list{margin-top:8px;}
    .header_gnb .gnb_link_list .gnb_link_item .item_area{width:190px;box-shadow:0 18px 34px 6px rgba(23,46,35,0.2);border-radius:17px 17px 0 0;}
    .header_gnb .gnb_link_list .gnb_link_item .item_area span{font-size:14px;line-height:41px;}
}
@media all and (max-width:640px){
    .header_gnb .gnb_link_list .gnb_link_item .item_area{width:162px;}
    .header_gnb .gnb_link_list .gnb_link_item .item_area span{font-size:12px;line-height:36px;}
}


/* header_box */
.header_box{display:block;position:relative;width:100%;height:100px;background-color:#ecffe3;font-size:0;line-height:0;box-sizing:border-box;}
.header_box:before,
.header_box:after,
.header_box *,
.header_box *:before,
.header_box *:after{border:none;font-size:0;line-height:0;box-sizing:border-box;}
.header_box .logo{display:inline-block;position:absolute;top:28px;left:0;z-index:21;vertical-align:top;}
.header_box .logo a{display:inline-block;position:relative;}
.header_box .logo a .img{display:inline-block;position:relative;width:303px;height:43px;background-image:url(../images/common/common_logo2.png);background-repeat:no-repeat;background-position:left top;background-size:cover;vertical-align:top;}
.header_box .logo a .text{display:none;padding-left:6px;font-size:25px;color:#727065;letter-spacing:-0.01em;line-height:38px;font-family:'SOYO', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif;font-weight:600;word-break:keep-all;}
.header_box .logo a:hover{text-decoration:none;}
.header_box .menu_show{display:none;}
@media all and (max-width:1500px){
    .header_box{height:80px;}
    .header_box .logo{top:23px;}
    .header_box .logo a .img{width:240px;height:34px;}
    .header_box .logo a .text{font-size:20px;line-height:28px;}
}
@media all and (max-width:1000px){
    .header_box{height:78px;}
    .header_box .logo{top:26px;}
    .header_box .logo a .img{width:212px;height:30px;}
    .header_box .logo a .text{font-size:17px;line-height:24px;}
    .header_box .menu_show{display:block;position:absolute;top:28px;right:0;}
    .header_box .menu_show .menu_button{position:relative;width:24px;height:24px;background:url(../images/common/menu_open.png)center center / cover no-repeat;}
}
@media all and (max-width:640px){
    .header_box .logo{top:28px;}
    .header_box .logo a .img{width:176px;height:25px;}
    .header_box .logo a .text{font-size:14px;line-height:20px;}
}

/* lnb */
@media all and (min-width:1001px){
    .lnb .lnb_top_box{display:none;}
    .lnb .lnb_bottom_box{display:none;}
    .lnb .menu_hide{display:none;}
    .lnb_curtain{display:none;}

    .lnb{display:block;position:absolute;z-index:20;top:60px;left:0;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
    .lnb:before, .lnb:after, .lnb *, .lnb *:before, .lnb *:after{border:none;font-size:0;line-height:0;box-sizing:border-box;}
    .lnb .menu{display:block;position:relative;height:100px;overflow:hidden;transition:height 400ms ease, box-shadow 400ms ease;}
    .lnb .menu:before{top:0;left:0;width:100%;height:100%;}
    .lnb .menu:after{top:160px;left:0;width:100%;height:1px;background-color:transparent;}
    .lnb_open .lnb .menu:before{background-color:#fff;}
    .lnb_open .lnb .menu:after{background-color:rgba(204, 204, 204, 0.5);}
    .lnb .menu .depth1{display:block;position:relative;width:100%;margin:0 auto;padding:0 calc((100% - 1500px) / 2);}
    .lnb .menu .depth1:before{display:block;position:absolute;top:100px;left:0;opacity:0;width:100%;height:calc(100% - 100px);transition-property:opacity, background-color;transition-duration:0.4s;transition-timing-function:ease;}
    .lnb_open .lnb .menu .depth1:before{opacity:1;background-color:#fff;}
    .lnb .menu .depth1 .depth1_list{display:block;position:static;width:100%;padding-left:300px;text-align:right;}
    .lnb .menu .depth1 .depth1_list .depth1_item{display:inline-block;position:static;vertical-align:top;}
    .lnb .menu .depth1 .depth1_list .depth1_item:first-child{margin-left:0;}
    .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text{display:inline-block;position:relative;height:100px;padding:0 68px;}
    .lnb .menu .depth1 .depth1_list .depth1_item:last-child .depth1_text{padding-right:0;}
    .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text span{display:inline-block;position:relative;top:50%;font-size:20px;color:#1d1d1d;letter-spacing:0.02em;line-height:30px;font-family:'Paper', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif;font-weight:700;word-break:keep-all;transform:translateY(-50%);}

    .lnb .menu .depth2{display:block;position:absolute;top:100px;left:0;bottom:auto;right:auto;overflow:visible;visibility:hidden;opacity:0;padding:0 calc((100% - 1500px) / 2);background-color:#ecffe3;transition:visibility 400ms ease, opacity 400ms ease, transform 400ms ease;}
    .lnb_open .lnb .menu .depth1_item.active .depth2{visibility:visible;opacity:1;}
    .lnb .menu .depth2:before{display:block;position:absolute;bottom:-54px;left:calc((100% - 1500px) / 2 - 19px);width:300px;height:300px;background-image:linear-gradient(250deg, #d5ffd9, #ecffe3);border-radius:50%;}
    .lnb .menu .depth2 .depth2_title_box{display:inline-block;width:200px;height:100%;padding-top:40px;padding-right:50px;text-align:left;vertical-align:top;}
    .lnb .menu .depth2 .depth2_title_box .title{font-size:32px;color:#19a357;letter-spacing:0.04em;line-height:38px;font-family:'Paper', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif;font-weight:800;word-break:keep-all;}
    .lnb .menu .depth2 .depth2_list{display:inline-block;position:relative;z-index:1;width:calc(100% - 200px);min-height:402px;padding:7px 0 58px 80px;text-align:left;vertical-align:top;}
    .lnb .menu .depth2 .depth2_list:before{display:block;position:absolute;top:0;left:0;width:calc(100% + ((100vw - 1500px) / 2));height:100%;background-color:#fff;border-top-left-radius:100px;}
    .lnb .menu .depth2 .depth2_list .depth2_item{display:inline-block;position:relative;width:calc((100% - 219px) / 4);margin-top:33px;margin-right:73px;vertical-align:top;}
    .lnb .menu .depth2 .depth2_list .depth2_item:nth-child(4n){margin-right:0;}
    .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text{display:block;position:relative;width:100%;padding:0 20px;text-decoration:none;}
    .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text:before{display:block;position:absolute;top:0;left:0;width:100%;height:100%;border:1px solid #d3d3d3;border-radius:8px;}
    .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text:after{display:block;position:absolute;top:calc(50% - 4px);right:20px;width:15px;height:8px;background:url(../images/common/depth2_arrow.png) center center / cover no-repeat;transition-property:background-image;transition-duration:0.4s;transition-timing-function:cubic-bezier(0.22, 1, 0.36, 1);}
    .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text span{display:block;position:relative;z-index:1;width:100%;font-size:18px;color:#464646;line-height:52px;letter-spacing:0.02em;font-family:'Paper', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif;font-weight:700;word-break:keep-all;transition-property:color;transition-duration:0.4s;transition-timing-function:cubic-bezier(0.22, 1, 0.36, 1);}

    .lnb .menu .depth3{display:block;position:relative;width:100%;overflow:visible;visibility:visible;opacity:1;}
    .lnb .menu .depth3 .depth3_list{display:block;position:relative;width:100%;padding-top:13px;padding-left:20px;}
    .lnb .menu .depth3 .depth3_list .depth3_item{display:block;position:relative;width:100%;}
    .lnb .menu .depth3 .depth3_list .depth3_item .depth3_text{display:inline-block;position:relative;padding-left:10px;vertical-align:top;}
    .lnb .menu .depth3 .depth3_list .depth3_item .depth3_text:before{display:block;position:absolute;top:13px;left:0;width:3px;height:3px;border-radius:100%;background-color:#579e77;}
    .lnb .menu .depth3 .depth3_list .depth3_item .depth3_text span{display:inline-block;position:relative;font-size:17px;color:#6c6c6c;letter-spacing:0;line-height:28px;font-family:'Pre', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif;font-weight:500;word-break:keep-all;vertical-align:top;transition-property:color;transition-duration:0.4s;transition-timing-function:cubic-bezier(0.22, 1, 0.36, 1);}

    .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text:hover span,
    .lnb .menu .depth2 .depth2_list .depth2_item.active .depth2_text span{color:#19a357;}
    .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text:hover:after,
    .lnb .menu .depth2 .depth2_list .depth2_item.active .depth2_text:after{background-image:url(../images/common/depth2_arrow_over.png);}
    .lnb .menu .depth3 .depth3_list .depth3_item .depth3_text:hover span,
    .lnb .menu .depth3 .depth3_list .depth3_item.active .depth3_text span{color:#464646;}
}
@media all and (max-width:1500px) and (min-width:1001px){
    .lnb{top:58px;}
    .lnb .menu{height:80px;}
    .lnb .menu .depth1{padding:0 3vw;}
    .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text{height:80px;padding:0 3.45vw;}
    .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text span{font-size:18px;line-height:80px;}

    .lnb .menu .depth2{top:80px;padding:0 3%;}
    .lnb .menu .depth2:before{bottom:-35px;left:calc(3% - 19px);width:200px;height:200px;}
    .lnb .menu .depth2 .depth2_title_box{width:150px;padding-right:0;}
    .lnb .menu .depth2 .depth2_title_box .title{font-size:28px;line-height:34px;}
    .lnb .menu .depth2 .depth2_list{width:calc(100% - 150px);padding:7px 0 58px 60px;}
    .lnb .menu .depth2 .depth2_list:before{width:calc(100% + 3vw);}
    .lnb .menu .depth2 .depth2_list .depth2_item{width:calc((100% - 120px) / 4);margin-right:40px;}
    .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text{padding:0 17px;}
    .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text:after{right:15px;}
    .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text span{font-size:17px;line-height:46px;}
}
@media all and (max-width:1200px) and (min-width:1001px){
    .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text{padding:0 2.2vw;}

    .lnb .menu .depth2 .depth2_list .depth2_item{width:calc((100% - 80px) / 3);}
    .lnb .menu .depth2 .depth2_list .depth2_item:nth-child(4n){margin-right:40px;}
    .lnb .menu .depth2 .depth2_list .depth2_item:nth-child(3n){margin-right:0;}
}
@media all and (max-width:1000px){
    .lnb{position:fixed;top:0;right:-100%;z-index:70;visibility:hidden;transition-property:right, visibility;transition-duration:0.8s;transition-timing-function:cubic-bezier(0.22, 1, 0.36, 1);}
    .lnb_show .lnb{right:0;visibility:visible;}
    .lnb:before{display:none;}
    .lnb .lnb_top_box{display:block;visibility:hidden;transition-property:visibility;transition-duration:0.8s;transition-timing-function:cubic-bezier(0.22, 1, 0.36, 1);}
    .lnb_show .lnb .lnb_top_box{visibility:visible;}
    .lnb .lnb_top_box .gnb_link_list{display:block;padding:7px 3vw 0;;text-align:center;}
    .lnb .lnb_top_box .gnb_link_list .gnb_link_item{display:inline-block;position:relative;width:50%;vertical-align:top;}
    .lnb .lnb_top_box .gnb_link_list .gnb_link_item:nth-last-child(1){z-index:1;}
    .lnb .lnb_top_box .gnb_link_list .gnb_link_item:nth-last-child(2){z-index:2;}
    .lnb .lnb_top_box .gnb_link_list .gnb_link_item:nth-last-child(3){z-index:3;}
    .lnb .lnb_top_box .gnb_link_list .gnb_link_item .item_area{position:relative;width:100%;background-color:#ecffe3;box-shadow:0 18px 34px 6px rgba(23,46,35,0.2);border-radius:17px 17px 0 0;font-size:12px;color:#2a2a2a;letter-spacing:0.02em;line-height:38px;font-family:'Paper', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif;font-weight:500;word-break:keep-all;}
    .lnb .lnb_top_box .gnb_link_list .gnb_link_item .item_area:before{display:block;position:absolute;bottom:0;right:-14px;width:15px;height:15px;background:url(../images/common/gnb_link_item_deco02.png) center center / cover no-repeat;}
    .lnb .lnb_bottom_box{display:block;position:relative;z-index:2;visibility:hidden;transition-property:visibility;transition-duration:0.8s;transition-timing-function:cubic-bezier(0.22, 1, 0.36, 1);}
    .lnb_show .lnb .lnb_bottom_box{visibility:visible;}
    .lnb .lnb_bottom_box .gnb_list{padding:29px calc(3% + 14px) 25px 0;background-color:#ecffe3;text-align:center;}
    .lnb .lnb_bottom_box .gnb_list .gnb_item{display:inline-block;position:relative;vertical-align:top;}
    .lnb .lnb_bottom_box .gnb_list .gnb_item + .gnb_item{margin-left:12px;padding-left:17px;}
    .lnb .lnb_bottom_box .gnb_list .gnb_item + .gnb_item:before{display:block;position:absolute;top:8px;left:0;width:3px;height:3px;background-color:#a5a49d;border-radius:50%;}
    .lnb .lnb_bottom_box .gnb_list .gnb_item .gnb_link{padding-right:19px;}
    .lnb .lnb_bottom_box .gnb_list .gnb_item .gnb_link:before{display:block;position:absolute;top:2px;right:0;width:15px;height:15px;background-image:url(../images/common/gnb_link_icon.png);background-size:cover;background-repeat:no-repeat;}
    .lnb .lnb_bottom_box .gnb_list .gnb_item .gnb_link.login:before{background-position:calc(-15px * 0) 0;}
    .lnb .lnb_bottom_box .gnb_list .gnb_item .gnb_link.sitemap:before{background-position:calc(-15px * 1) 0;}
    .lnb .lnb_bottom_box .gnb_list .gnb_item .gnb_link em{font-size:14px;color:#464646;letter-spacing:0.02em;line-height:20px;font-family:'Pre', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif;font-weight:600;word-break:keep-all;}
    .lnb .menu{position:relative;right:0;visibility:hidden;width:100vw;height:auto;min-height:calc(100vh - 119px);background-image:linear-gradient(-35deg,#d4f5e3,#ecffe3 50%);transition-duration:0.8s;transition-timing-function:cubic-bezier(0.22, 1, 0.36, 1);}
    .lnb_show .lnb .menu{visibility:visible;}
    .lnb .menu .depth1{width:125px;}
    .lnb .menu .depth1 .depth1_list{padding-top:7px;}
    .lnb .menu .depth1 .depth1_list .depth1_item{display:block;position:static;}
    .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text{position:relative;z-index:11;width:100%;padding-left:15px;}
    .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text:before{display:block;position:absolute;top:50%;left:-10px;opacity:0;width:calc(100% - 7px);height:38px;background-color:#19a357;border-radius:0 50px 50px 0;transform:translateY(-50%);transition-property:left, opacity;transition-duration:0.8s;transition-timing-function:cubic-bezier(0.22, 1, 0.36, 1);}
    .lnb .menu .depth1 .depth1_list .depth1_item.active .depth1_text:before{left:0;opacity:1;}
    .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text span{position:relative;width:100%;font-size:16px;color:#1d1d1d;letter-spacing:0.01em;line-height:49px;font-family:'Paper', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif;font-weight:700;word-break:keep-all;transition-property:color;transition-duration:0.8s;transition-timing-function:cubic-bezier(0.22, 1, 0.36, 1);}
    .lnb .menu .depth1 .depth1_list .depth1_item.active .depth1_text span{color:#fff;}

    .lnb .menu .depth2{position:absolute;top:0;left:100%;overflow:visible;width:0;height:auto;transition-property:opacity, visibility, width;transition-duration:0.8s;transition-timing-function:cubic-bezier(0.22, 1, 0.36, 1);font-size:0;line-height:0;}
    .lnb .menu .depth2 .depth2_title_box{display:none;}
    .lnb_show .lnb .menu .depth1_item.active .depth2{opacity:1;visibility:visible;width:calc(97vw - 120px);/*transition:none;*/}
    .lnb .menu .depth2 .depth2_list{min-height:250px;padding:18px 30px 17px;background-color:#fff;border-radius:20px;}
    .lnb .menu .depth2 .depth2_list .depth2_item{display:block;position:relative;}
    .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text{width:100%;}
    .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text:before{display:block;position:absolute;top:16px;right:0;width:13px;height:7px;background:url(../images/common/depth2_arrow.png) center center / cover no-repeat;transition-property:transform;transition-duration:0.25s;transition-timing-function:ease-in-out;}
    .lnb .menu .depth2 .depth2_list .depth2_item.active .depth2_text:before{transform:rotateX(180deg);}
    .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text span{font-size:15px;color:#464646;letter-spacing:-0.01em;line-height:38px;font-family:'Paper', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif;font-weight:500;word-break:keep-all;white-space:nowrap;transition-property:color;transition-duration:0.25s;transition-timing-function:ease-in-out;}
    .lnb .menu .depth2 .depth2_list .depth2_item.active .depth2_text span{color:#19a357;}

    .lnb .menu .depth3{position:relative;width:100%;transition-property:opacity, visibility;transition-duration:0.25s;transition-timing-function:ease-in-out;}
    .lnb_show .lnb .menu .depth2_item.active .depth3{opacity:1;visibility:visible;}
    .lnb .menu .depth3 .depth3_list{position:relative;margin-top:0;padding-top:0;padding-bottom:0;padding-left:5px;transition-property:margin, padding;transition-duration:0.25s;transition-timing-function:ease-in-out;}
    .lnb .menu .depth2_item.active .depth3 .depth3_list{margin-top:3px;padding-top:1px;padding-bottom:9px;}
    .lnb .menu .depth3 .depth3_list:before{display:block;position:absolute;top:0;left:0;width:100%;height:1px;background-color:#dfdfdf;}
    .lnb .menu .depth3 .depth3_list .depth3_item{display:block;position:relative;}
    .lnb .menu .depth3 .depth3_list .depth3_item .depth3_text{position:relative;width:100%;padding-left:13px;}
    .lnb .menu .depth3 .depth3_list .depth3_item .depth3_text:before{display:block;position:absolute;top:15px;left:0;width:3px;height:3px;background-color:#579e77;border-radius:50%;}
    .lnb .menu .depth3 .depth3_list .depth3_item .depth3_text span{font-size:0;color:#6c6c6c;letter-spacing:0;line-height:0px;font-family:'Pre', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif;font-weight:500;word-break:keep-all;transition-property:font-size, line-height;transition-duration:0.25s;transition-timing-function:ease-in-out;}
    .lnb .menu .depth1_item.active .depth2_item.active .depth3 .depth3_list .depth3_item .depth3_text span{font-size:15px;line-height:28px;}

    .lnb .menu_hide{top:77px;right:3%;}
    .lnb .menu_hide .menu_button{width:14px;height:14px;background:url(../images/common/menu_hide.png)center center / cover no-repeat;border:none;}
    .lnb_curtain{display:block;position:fixed;z-index:69;top:0;left:0;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.6);font-size:0;line-height:0;box-sizing:border-box;visibility:hidden;opacity:0;transition:visibility 250ms ease, opacity 250ms ease;}
    .lnb_show .lnb_curtain{visibility:visible;opacity:1;}
    .lnb_curtain button{display:block;position:absolute;top:0;left:0;width:100%;height:100%;border:none;font-size:0;line-height:0;box-sizing:border-box;}
}
@media all and (max-width:640px){

}



/* --------------- header 끝 --------------- */

/* --------------- container 시작 --------------- */
#container{display:block;position:relative;width:100%;box-sizing:border-box;}
main{display:block;width:100%;box-sizing:border-box;}
/* --------------- container 끝 --------------- */

/* --------------- footer 시작 --------------- */
#footer{display:block;position:relative;z-index:30;width:100%;font-size:0;line-height:0;box-sizing:border-box;text-align:center;}
#footer .wrap{display:block;position:relative;min-height:390px;}
#footer .wrap:before{display:block;position:absolute;z-index:-1;top:0;left:50%;width:100vw;height:100%;background-color:#1d1d1d;transform:translateX(-50%);}
#footer .top_box{position:absolute;top:60px;right:0;}
#footer .top_box .top_btn{position:relative;overflow:hidden;width:60px;height:60px;background-color:#e5e5e5;border:none;border-radius:50%;}
#footer .top_box .top_btn:before{display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:url(../images/common/footer_top.png)center center / cover no-repeat;}
#footer .footer_logo{margin-top:60px;width:130px;height:41px;background:url(../images/common/footer_logo.png)center center / cover no-repeat;}
#footer .nav_box{margin-top:41px;}
#footer .nav_box .nav_list{}
#footer .nav_box .nav_list .nav_item{display:inline-block;margin:0 17px;vertical-align:top;}
#footer .nav_box .nav_list .nav_item:last-child{margin-right:0;}
#footer .nav_box .nav_list .nav_item .nav_link{font-size:16px;color:#e8e8e8;letter-spacing:-0.01em;line-height:24px;font-family:'Pre', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif;font-weight:300;word-break:keep-all;}
#footer .info_box{margin-top:17px;}
#footer .info_box .text{font-size:16px;color:#e8e8e8;letter-spacing:-0.01em;line-height:24px;font-family:'Pre', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif;font-weight:300;word-break:keep-all;}
#footer .info_box .text span{margin:0 15px;}
#footer .info_box .copyright{margin-top:34px;font-size:14px;color:#b7b7b7;letter-spacing:-0.01em;line-height:22px;font-family:'Pre', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif;font-weight:300;word-break:keep-all;}
#footer .info_box .refusal{margin-top:9px;font-size:14px;color:#b7b7b7;letter-spacing:-0.01em;line-height:22px;font-family:'Pre', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif;font-weight:300;word-break:keep-all;}
@media all and (max-width:1500px){
    #footer .top_box{top:55px;}
    #footer .top_box .top_btn{width:54px;height:54px;}
}
@media all and (max-width:1000px){
    #footer{min-height:360px;}
    #footer .footer_logo{width:105px;height:33px;}
    #footer .nav_box{margin-top:32px;}
    #footer .nav_box .nav_list .nav_item{margin-top:8px;}
    #footer .nav_box .nav_list .nav_item .nav_link{font-size:15px;}
    #footer .info_box .copyright{margin-top:30px;}
    #footer .top_box{top:48px;}
    #footer .top_box .top_btn{width:48px;height:48px;}
}
@media all and (max-width:640px){
    #footer{min-height:343px;}
    #footer .footer_logo{margin-top:50px;width:75px;height:21px;background-image:url(../images/common/footer_logo2.png);}
    #footer .nav_box{margin-top:19px;}
    #footer .nav_box .nav_list .nav_item{margin:0 13px;}
    #footer .nav_box .nav_list .nav_item .nav_link{font-size:14px;}
    #footer .info_box{margin-top:14px;}
    #footer .info_box .text{padding:0 40px;font-size:15px;}
    #footer .info_box .copyright{margin-top:28px;font-size:12px;}
    #footer .info_box .refusal{margin-top:1px;}
    #footer .top_box{top:15px;}
    #footer .top_box .top_btn{width:40px;height:40px;}
}
/* --------------- footer 끝 --------------- */

