@charset "UTF-8";

/* (주)한신정보기술 서정한 - 2019.08 */

body{position:relative; line-height:26px; color:#464646; font-size:16px;  letter-spacing:-0.025em;}
a:link{color:#555555;text-decoration:none;}
a:visited{color:#555555;text-decoration:none;}
a:hover{color:#555555;text-decoration:underline;}
a:active{color:#555555;text-decoration:underline;}
a span{cursor:pointer;}
button{cursor:pointer; }
input[type="submit"]{cursor:pointer;}

/* Slider */
.slick-slider{position: relative; display: block; box-sizing: border-box;}
.slick-list{position: relative;display: block; overflow:hidden; margin: 0;padding: 0;}
.slick-list:focus{outline: none;}
.slick-list.dragging{cursor:pointer;}
.slick-track{ position: relative; top: 0;left: 0;display: block;}
.slick-track:before,.slick-track:after{display: table;content: '';}
.slick-track:after{clear: both;}
.slick-loading .slick-track{visibility: hidden;}
.slick-slide{display: none;float: left;height: 100%;min-height:1px;}
[dir='rtl'] .slick-slide{float: right;}
.slick-slide img{display: block; width:100%;}
.slick-slide.slick-loading img{display: none;}
.slick-initialized .slick-slide{display: block;}
.slick-loading .slick-slide{visibility: hidden;}
.slick-vertical .slick-slide{display: block;height: auto;border: 1px solid transparent;}
#screen{visibility:hidden; overflow:scroll; position:absolute; bottom:0; left:0; width:100px; height:100px;}

/* 메뉴공통css */
/* 메뉴 */
.menu.init, .menu.init:before, .menu.init:after, .menu.init .depth, .menu.init .depth:before, .menu.init .depth:after, .menu.init .depth_list, .menu.init .depth_list:before, .menu.init .depth_list:after, .menu.init .depth_item, .menu.init .depth_item:before, .menu.init .depth_item:after, .menu.init .depth_text, .menu.init .depth_text:before, .menu.init .depth_text:after, .menu.init .depth_title, .menu.init .depth_title:before, .menu.init .depth_title:after {transition-property:all; transition-duration:250ms; transition-timing-function:linear;}
.menu, .menu .depth, .menu .depth_list, .menu .depth_item, .menu .depth_text {position:relative;}
.menu {font-size:0px; line-height:0px;}
.menu .depth:not(.depth1) {visibility:hidden; opacity:0; overflow:hidden;}
.menu .depth1 {z-index:30;}
.menu .depth_list {z-index:10;}
.menu .depth_text {display:inline-block;}

/* 1, 2차 메뉴 배경 */
.menu.before:before, .menu.after:after {display:block; position:absolute;}
.menu.before:before {z-index:10;}
.menu.after:after {z-index:20;}

/* 제목 상자 */
.menu .depth_title {overflow:hidden; position:absolute; z-index:20;}

/* 옵션 */
.menu .depth1.clearfix .depth1_list {float:right;}
.menu .depth_list.clearfix > .depth_item {float:left;}
.menu .depth_list.cut > .depth_item {display:inline-block; vertical-align:top;}

/* 풀 다운 */
.menu.pulldown .depth1 {height:100%;}
.menu.pulldown .depth1_list, .menu.pulldown .depth1_item {height:inherit;}
.menu.pulldown .depth2 {position:absolute; bottom:0; left:0; width:100%;}

/* 이치 다운 */
.menu.eachdown .depth1 {height:100%;}
.menu.eachdown .depth1_list, .menu.eachdown .depth1_item {position:static; height:inherit;}
.menu.eachdown .depth2 {position:absolute; bottom:0; left:0; width:100%;}

/* 드롭 다운 */
.menu.dropdown .depth2 {position:absolute; top:100%; left:0; width:100%; transform-origin:center top; transform:scaleY(0);}


#wrapper{position:relative; min-width:1450px; overflow:hidden;}
.wrap{position:relative;width:1450px;margin:0 auto;}
.skip{overflow:hidden;}


/* header */
@media screen and (min-width:1001px){
    #header{position:absolute;top:0;left:0;width:100%;}
    #header .header_box .wrap{width:1820px;}
    #header .header_box .wrap .logo{position:absolute;top:30px;left:0;z-index:10;}
    #header .header_box .wrap .logo a{font-size:0;line-height:0;}
    #header .header_box .wrap .logo a:hover{text-decoration:none;}
    #header .header_box .wrap .logo a .image{width:83px;height:41px;background:url(../images/sub/logo.png)center center / cover no-repeat;font-size:0;line-height:0;vertical-align:middle;transition:background-image 0.25s ease-in-out;}
    #header .header_box .wrap .logo a .text{padding-left:9px;font-size:23px;color:#000;letter-spacing:-0.025em;line-height:41px;font-weight:500;vertical-align:middle;}
    #header .menu_show{display:none;}
    #header .lnb{position:relative;}
    #header .lnb:before{display:block;position:absolute;top:0;left:0;width:100%;height:100%;transition-property:box-shadow;transition-duration:250ms;transition-timing-function:ease-in-out;}
    .lnb_open #header .lnb:before{box-shadow:3px 4px 20px 0px rgba(0, 0, 0, 0.05);}
    #header .lnb .menu_tab_list{display:none;}
    #header .lnb .menu{position:relative;z-index:3;height:100px;background-color:rgba(255, 255, 255, 1);transition-property:height, background-color;transition-duration:250ms;transition-timing-function:ease-in-out;}
    .fp-viewing-3rdPage #header .lnb .menu{background-color:rgba(255, 255, 255, 0);}
    #header .lnb .menu:before{display:block;position:absolute;top:99px;left:0;opacity:0;width:100%;height:1px;background-color:#e9e9e9;transition-property:opacity;transition-duration:250ms;transition-timing-function:ease-in-out;}
    .fp-viewing-secondPage #header .lnb .menu:before{opacity:1;}
    .fp-viewing-3rdPage #header .lnb .menu:before{opacity:0.1;}
    .fp-viewing-4thPage #header .lnb .menu:before{opacity:1;}
    .lnb_open #header .lnb .menu:before{opacity:1;}
    #header .lnb .menu .depth1{position:unset;width:1820px;height:100%;margin:0 auto;text-align:center;}
    #header .lnb .menu .depth1 .depth1_list{display:flex;flex-wrap:wrap;padding-right:calc(255px - 28px);}
    #header .lnb .menu .depth1 .depth1_list .depth1_item{display:table;flex-basis:auto;height:100px;vertical-align:middle;}
    #header .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text{display:table-cell;position:relative;z-index:1;padding:0 28px;vertical-align:middle;}
    #header .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text:before{display:block;position:absolute;bottom:0;left:50%;width:0;height:1px;background-color:#314081;transform:translateX(-50%);transition-property:width;transition-duration:250ms;transition-timing-function:ease-in-out;}
    #header .lnb .menu .depth1 .depth1_list .depth1_item.active .depth1_text:before,
    #header .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text:hover:before{width:calc(100% - 56px);}
    #header .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text span em{position:relative;font-size:18px;color:#000;letter-spacing:-0.025em;line-height:26px;font-weight:400;word-break:keep-all;transition-property:color;transition-duration:250ms;transition-timing-function:ease-in-out;}
    #header .lnb .menu .depth1 .depth1_list .depth1_item.active .depth1_text span em,
    #header .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text:hover span em{color:#314081;}
    #header .lnb .menu .depth1 .depth1_list .depth1_item.active .depth2{visibility:visible;opacity:1;}
    #header .lnb .menu .depth2{top:100px;padding:0 calc((100% - 1640px) / 2);transition-property:visibility, opacity;transition-duration:250ms;transition-timing-function:ease-in-out;}
    #header .lnb .menu .depth2 .depth2_title{position:absolute;top:0;left:calc((100% - 1640px) / 2);z-index:11;width:210px;padding-top:58px;font-size:33px;color:#000;letter-spacing:-0.025em;line-height:45px;font-weight:300;vertical-align:top;text-align:left;word-break:keep-all;}
    #header .lnb .menu .depth2 .depth2_list{min-height:235px;padding-top:59px;padding-bottom:0px;padding-left:340px;vertical-align:top;text-align:left;}
    #header .lnb .menu .depth2 .depth2_list .depth2_item{display:inline-block;float:unset;width:calc(100% / 4);padding-bottom:70px;text-align:left;vertical-align:top;}
    #header .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text{position:relative;}
    #header .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text:before{display:block;position:absolute;bottom:0;left:0;width:100%;height:1px;background-color:#000;transform:scale(0);transform-origin:top right;transition-property:transform;transition-duration:250ms;transition-timing-function:ease-in-out;}
    #header .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text:hover:before{transform:scale(1);transform-origin:top left;}
    #header .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text span em{font-size:20px;color:#000;letter-spacing:-0.025em;line-height:22px;font-weight:500;}
    #header .lnb .menu .depth3{visibility:visible;opacity:1;}
    #header .lnb .menu .depth3 .depth3_list{padding-top:16px;}
    #header .lnb .menu .depth3 .depth3_list .depth3_item{display:block;width:100%;}
    #header .lnb .menu .depth3 .depth3_list .depth3_item .depth3_text{position:relative;padding-left:12px;}
    #header .lnb .menu .depth3 .depth3_list .depth3_item .depth3_text:before{display:block;position:absolute;top:13px;left:0;width:4px;height:4px;background-color:#cbcbcb;border-radius:30px;transition-property:background-color;transition-duration:250ms;transition-timing-function:ease-in-out;}
    #header .lnb .menu .depth3 .depth3_list .depth3_item .depth3_text:hover:before{background-color:#000;}
    #header .lnb .menu .depth3 .depth3_list .depth3_item .depth3_text span em{font-size:16px;color:#555;letter-spacing:-0.025em;line-height:30px;font-weight:300;transition-property:color;transition-duration:250ms;transition-timing-function:ease-in-out;}
    #header .lnb .menu .depth3 .depth3_list .depth3_item .depth3_text:hover span em{color:#000;}
    #header .lnb_bottom_box{position:absolute;top:40px;right:calc((100% - 1820px) / 2);z-index:3;}
    #header .lnb_bottom_box .lnb_bottom_list{position:relative;font-size:0;line-height:0;}
    #header .lnb_bottom_box .lnb_bottom_list .lnb_bottom_item{position:relative;display:inline-block;width:22px;height:21px;background-image:url(../images/sub/lnb_bottom_icon.png);background-repeat:no-repeat;background-size:cover;vertical-align:middle;transition-property:background-image;transition-duration:250ms;transition-timing-function:ease-in-out;}
    #header .lnb_bottom_box .lnb_bottom_list .lnb_bottom_item:hover,
    #header .lnb_bottom_box .lnb_bottom_list .lnb_bottom_item.active{background-image:url(../images/sub/lnb_bottom_icon_hover.png);}
    #header .lnb_bottom_box .lnb_bottom_list .lnb_bottom_item.login{background-position:calc(-22px * 0) 0;}
    #header .lnb_bottom_box .lnb_bottom_list .lnb_bottom_item.logout{background-image:url(../images/sub/lnb_bottom_logout.png);}
    #header .lnb_bottom_box .lnb_bottom_list .lnb_bottom_item.logout:hover{background-image:url(../images/sub/lnb_bottom_logout_hover.png);}
    #header .lnb_bottom_box .lnb_bottom_list .lnb_bottom_item.join{margin-left:11px;background-position:calc(-22px * 1) 0;}
    #header .lnb_bottom_box .lnb_bottom_list .lang_box{display:inline-block;position:relative;}
    #header .lnb_bottom_box .lnb_bottom_list .lang_box .lnb_bottom_item.lang{width:34px;margin-left:13px;padding-right:12px;background-position:calc(-20px * 2) 0;}
    #header .lnb_bottom_box .lnb_bottom_list .lang_box .lnb_bottom_item.lang:before{display:block;position:absolute;top:8px;right:0px;width:8px;height:6px;background:url(../images/sub/lnb_bottom_lang_arrow.png)center center / cover no-repeat;transition:background-image 0.25s ease-in-out;}
    #header .lnb_bottom_box .lnb_bottom_list .lang_box .lnb_bottom_item.lang.active:before{transform:rotate(180deg);}
    #header .lnb_bottom_box .lnb_bottom_list .lang_box .lang_list_box{position:absolute;top:27px;right:-3px;overflow:hidden;height:0;transition-property:height;transition-duration:250ms;transition-timing-function:ease-in-out;}
    #header .lnb_bottom_box .lnb_bottom_list .lang_box .lang_list_box.active{height:96px;}
    #header .lnb_bottom_box .lnb_bottom_list .lang_box .lang_list_box .lang_list{position:relative;width:40px;margin-top:5px;padding:8px 0 9px;background-color:#fff;border:1px solid #818181;border-radius:8px;font-size:0;line-height:0;}
    #header .lnb_bottom_box .lnb_bottom_list .lang_box .lang_list_box .lang_list:before{display:block;position:absolute;top:-6px;left:calc(50% - 5px);width:10px;height:7px;background:url(../images/sub/lng_lang_deco.png)center center / cover no-repeat;}
    #header .lnb_bottom_box .lnb_bottom_list .lang_box .lang_list_box .lang_list .lang_item{display:block;position:relative;font-size:14px;color:#3c3c3c;letter-spacing:0;line-height:24px;font-weight:500;text-align:center;transition-property:color;transition-duration:250ms;transition-timing-function:ease-in-out;}
    #header .lnb_bottom_box .lnb_bottom_list .lang_box .lang_list_box .lang_list .lang_item:hover{color:#24337b;text-decoration:none;}
    #header .lnb_bottom_box .lnb_bottom_list .lnb_bottom_item.sitemap{margin-left:13px;background-image:url(../images/sub/lnb_bottom_sitemap.png);background-position:right center;background-size:20px 19px;}
    #header .lnb_bottom_box .lnb_bottom_list .lnb_bottom_item.sitemap:hover{background-image:url(../images/sub/lnb_bottom_sitemap_hover.png);}
    #header .lnb .menu_hide{display:none;}
    #header .lnb_curtain{display:none;}
}
@media screen and (max-width:1820px){
    #header .header_box .wrap{width:1450px;}
    #header .header_box .wrap .logo a .image{width:75px;height:37px;}
    #header .header_box .wrap .logo a .text{font-size:20px;}
    #header .lnb .menu .depth1{width:1450px;}
    #header .lnb .menu .depth1 .depth1_list{padding-right:calc(165px - 18px);}
    #header .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text{padding:0 18px;}
    #header .lnb .menu .depth1 .depth1_list .depth1_item.active .depth1_text:before,
    #header .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text:hover:before{width:calc(100% - 36px);}
    #header .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text span em{font-size:17px;line-height:24px;}
    #header .lnb .menu .depth2{padding:0 calc((100% - 1380px) / 2);}
    #header .lnb .menu .depth2 .depth2_title{left:calc((100% - 1380px) / 2);}
    #header .lnb .menu .depth2 .depth2_list{padding-left:240px;}
    #header .lnb_bottom_box{right:calc((100% - 1450px) / 2);}
}
@media screen and (max-width:1450px){
    #header .header_box .wrap{width:94%;}
    #header .header_box .wrap .logo a .text{font-size:18px;}
    #header .lnb .menu .depth1{width:94%;padding-left:90px;text-align:center;}
    #header .lnb .menu .depth1 .depth1_list{display:inline-block;float:unset;padding-right:0px;}
    #header .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text{padding:0 8px;}
    #header .lnb .menu .depth1 .depth1_list .depth1_item.active .depth1_text:before,
    #header .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text:hover:before{width:calc(100% - 16px);}
    #header .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text span em{max-width:101px;font-size:16px;line-height:22px;}
    #header .lnb .menu .depth2{padding:0 calc((100% - 1100px) / 2);}
    #header .lnb .menu .depth2 .depth2_title{left:calc((100% - 1100px) / 2);width:175px;padding-top:52px;font-size:28px;line-height:38px;}
    #header .lnb .menu .depth2 .depth2_list{padding-left:220px;}
    #header .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text span em{font-size:18px;}
    #header .lnb .menu .depth3 .depth3_list .depth3_item .depth3_text:before{top:12px;}
    #header .lnb .menu .depth3 .depth3_list .depth3_item .depth3_text span em{font-size:15px;line-height:28px;}
    #header .lnb_bottom_box{right:3%;}
    #header .lnb_bottom_box .lnb_bottom_list .lnb_bottom_item.join{margin-left:5px;}
    #header .lnb_bottom_box .lnb_bottom_list .lang_box .lnb_bottom_item.lang{margin-left:7px;}
    #header .lnb_bottom_box .lnb_bottom_list .lnb_bottom_item.sitemap{margin-left:7px;}
}
@media screen and (max-width:1200px){
    #header .header_box .wrap .logo a .image{width:60px;height:29px;}
    #header .header_box .wrap .logo a .text{padding-left:5px;font-size:14px;}
    #header .lnb .menu .depth1{padding-left:70px;}
    #header .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text{padding:0 0.95vw;}
    #header .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text span em{max-width:91px;font-size:1.2vw;line-height:20px;}
    #header .lnb .menu .depth2{padding:0 calc((100% - 900px) / 2);}
    #header .lnb .menu .depth2 .depth2_title{left:calc((100% - 900px) / 2);font-size:24px;}
    #header .lnb .menu .depth2 .depth2_list{padding-left:200px;}
    #header .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text span em{font-size:17px;}
    #header .lnb_bottom_box .lnb_bottom_list .lnb_bottom_item{width:18px;height:17px;margin-left:5px !important;}
    #header .lnb_bottom_box .lnb_bottom_list .lnb_bottom_item.login{background-position:calc(-18px * 0) 0;}
    #header .lnb_bottom_box .lnb_bottom_list .lnb_bottom_item.join{background-position:calc(-18px * 1) 0;}
    #header .lnb_bottom_box .lnb_bottom_list .lang_box .lnb_bottom_item.lang{width:29px;background-position:calc(-16px * 2) 0;}
    #header .lnb_bottom_box .lnb_bottom_list .lang_box .lnb_bottom_item.lang:before{top:6px;}
    #header .lnb_bottom_box .lnb_bottom_list .lnb_bottom_item.sitemap{background-size:16px 15px;}
}
@media screen and (max-width:1000px){
    #header{position:relative;z-index:10;height:70px;background-color:#fff;}
    #header .header_box .wrap .logo{position:absolute;top:15px;left:0;}
    #header .header_box .wrap .logo a{font-size:0;line-height:0;}
    #header .header_box .wrap .logo a .image{display:inline-block;width:78px;height:39px;background:url(../images/sub/logo.png)center center / cover no-repeat;font-size:0;line-height:0;vertical-align:middle;}
    #header .header_box .wrap .logo a .text{display:inline-block;padding-left:13px;font-size:20px;color:#000;letter-spacing:-0.025em;line-height:37px;font-weight:500;vertical-align:middle;}
    #header .header_box .wrap .menu_show{position:absolute;top:19px;right:0;}
    #header .header_box .wrap .menu_show .menu_button{width:30px;height:31px;background:url(../images/sub/tablet_menu_show.png)center center / cover no-repeat;border:none;font-size:0;line-height:0;}
    #header .lnb{position:absolute;top:0;right:-100vw;z-index:10;width:640px;background-color:#fff;transition-property:right;transition-duration:250ms;transition-timing-function:ease-in-out;}
    #header .lnb.active{right:0px;}
    #header .lnb .menu_tab_list{display:block;position:relative;z-index:31;padding:19px 0;font-size:0;line-height:0;}
    #header .lnb .menu_tab_list .menu_tab_item{display:inline-block;position:relative;vertical-align:top;}
    #header .lnb .menu_tab_list .menu_tab_item:before{display:block;position:absolute;top:5px;right:0px;width:1px;height:10px;background-color:#dcdcdc;}
    #header .lnb .menu_tab_list .menu_tab_item:last-child:before{display:none;}
    #header .lnb .menu_tab_list .menu_tab_item .menu_tab_text{position:relative;padding-left:30px;padding-right:31px;border:none;font-size:14px;color:#000;letter-spacing:-0.025em;line-height:20px;font-weight:400;}
    #header .lnb .menu_tab_list .menu_tab_item .menu_tab_text:hover{text-decoration:none;}
    #header .lnb .menu_tab_list .menu_tab_item:first-child .menu_tab_text{padding-left:20px;}
    #header .lnb .menu_tab_list .menu_tab_item.lang .menu_tab_text{font-weight:400;}
    #header .lnb .menu_tab_list .menu_tab_item.lang .menu_tab_text:after{display:inline-block;margin-left:12px;width:12px;height:6px;background:url(../images/sub/menutablist_lang_arrow.png)center center / cover no-repeat;vertical-align:middle;transform:rotate(180deg);}
    #header .lnb .menu_tab_list .menu_tab_item.lang .menu_tab_text.active:after{transform:rotate(0deg);}
    #header .lnb .menu_tab_list .menu_tab_item.lang .lang_list_box{position:absolute;top:25px;left:20px;overflow:hidden;height:0;box-shadow:0px 0px 8px 0px rgba(0, 0, 0, 0.1);border-radius:8px;transition-property:height;transition-duration:250ms;transition-timing-function:ease-in-out;}
    #header .lnb .menu_tab_list .menu_tab_item.lang .lang_list_box.active{height:91px;}
    #header .lnb .menu_tab_list .menu_tab_item.lang .lang_list_box .lang_list{position:relative;width:40px;padding:9px 0 10px;background-color:#fff;border-radius:8px;font-size:0;line-height:0;}
    #header .lnb .menu_tab_list .menu_tab_item.lang .lang_list_box .lang_list .lang_item{display:block;position:relative;font-size:14px;color:#3c3c3c;letter-spacing:0;line-height:24px;font-weight:500;text-align:center;transition-property:color;transition-duration:250ms;transition-timing-function:ease-in-out;}
    #header .lnb .menu_tab_list .menu_tab_item.lang .lang_list_box .lang_list .lang_item:hover{color:#24337b;text-decoration:none;}
    #header .lnb .menu .depth1{width:100%;padding-left:0;}
    #header .lnb .menu .depth1 .depth1_list{display:block;width:100%;text-align:left;}
    #header .lnb .menu .depth1 .depth1_list .depth1_item{display:block;position:relative;width:100%;}
    #header .lnb .menu .depth1 .depth1_list .depth1_item + .depth1_item{margin-top:1px;}
    #header .lnb .menu .depth1 .depth1_list .depth1_item + .depth1_item:before{display:block;position:absolute;top:-1px;left:0;width:100%;height:1px;background-color:#f2f2f2;transition-property:background-color;transition-duration:250ms;transition-timing-function:ease-in-out;}
    #header .lnb .menu .depth1 .depth1_list .depth1_item.active:before{background-color:#fff;}
    #header .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text{display:block;position:relative;width:100%;height:50px;padding:0px;padding-left:20px;transition-property:background-color;transition-duration:250ms;transition-timing-function:ease-in-out;}
    #header .lnb .menu .depth1 .depth1_list .depth1_item.active .depth1_text{background-color:#4a71ed;}
    #header .lnb .menu .depth1 .depth1_list .depth1_item.has .depth1_text:before{display:block;position:absolute;top:20px;right:20px;width:15px;height:9px;background:url(../images/sub/tablet_depth1_arrow.png)center center / cover no-repeat;transition-property:background-image;transition-duration:250ms;transition-timing-function:ease-in-out;}
    #header .lnb .menu .depth1 .depth1_list .depth1_item.active.has .depth1_text:before{background-image:url(../images/sub/tablet_depth1_arrow_active.png);}
    #header .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text[target="_blank"]:before{display:block;position:absolute;top:18px;right:20px;width:14px;height:13px;background:url(../images/sub/tablet_depth_blank.png)center center / cover no-repeat;}
    #header .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text span{position:relative;top:50%;transform:translateY(-50%);}
    #header .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text span em{max-width:100%;font-size:17px;color:#000;letter-spacing:-0.025em;line-height:22px;font-weight:400;transition-property:color;transition-duration:250ms;transition-timing-function:ease-in-out;}
    #header .lnb .menu .depth1 .depth1_list .depth1_item.active .depth1_text span em{color:#fff;}
    #header .lnb .menu .depth1 .depth1_list .depth1_item.active .depth2{visibility:visible;opacity:1;}
    #header .lnb .menu .depth2{position:relative;bottom:unset;left:unset;transition-property:visibility, opacity;transition-duration:250ms;transition-timing-function:ease-in-out;}
    #header .lnb .menu .depth2 .depth2_title{display:none;}
    #header .lnb .menu .depth2 .depth2_list{padding-left:0; transition-property:padding-top, padding-bottom;transition-duration:250ms;transition-timing-function:ease-in-out;}
    #header .lnb .menu .depth1_item.active .depth2 .depth2_list{padding-top:9px;padding-bottom:9px;}
    #header .lnb .menu .depth2 .depth2_list .depth2_item{display:block; float:none; width:100%;transition-property:padding-top;transition-duration:250ms;transition-timing-function:ease-in-out;}
    #header .lnb .menu .depth1_item.active .depth2 .depth2_list .depth2_item + .depth2_item{padding-top:17px;}
    #header .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text{display:block;position:relative;width:100%;padding-left:20px;}
    #header .lnb .menu .depth1_item.active .depth2 .depth2_list .depth2_item.has .depth2_text:before{display:block;position:absolute;top:50%;right:25px;width:2px;height:12px;background-color:#b4b7be;transform:translateY(-50%);transition-property:height, background-color;transition-duration:250ms;transition-timing-function:ease-in-out;}
    #header .lnb .menu .depth1_item.active .depth2 .depth2_list .depth2_item.has .depth2_text:after{display:block;position:absolute;top:calc(50% - 1px);right:20px;width:12px;height:2px;background-color:#b4b7be;transition-property:background-color;transition-duration:250ms;transition-timing-function:ease-in-out;}
    #header .lnb .menu .depth1_item.active .depth2 .depth2_list .depth2_item.has.active .depth2_text:before{height:0px;background-color:#000;}
    #header .lnb .menu .depth1_item.active .depth2 .depth2_list .depth2_item.has.active .depth2_text:after{background-color:#000;}
    #header .lnb .menu .depth1_item.active .depth2 .depth2_list .depth2_item .depth2_text[target="_blank"]:before{display:block;position:absolute;top:5px;right:20px;width:14px;height:13px;background:url(../images/sub/tablet_depth_blank.png)center center / cover no-repeat;}
    #header .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text span em{font-size:0px;color:#fff;letter-spacing:-0.025em;line-height:0px;font-weight:300;transition-property:line-height, font-size, color;transition-duration:250ms;transition-timing-function:ease-in-out;}
    #header .lnb .menu .depth1_item.active .depth2 .depth2_list .depth2_item .depth2_text span em{font-size:15px;color:#7c808d;line-height:22px;}
    #header .lnb .menu .depth1_item.active .depth2 .depth2_list .depth2_item.active .depth2_text span em{color:#000;}
    #header .lnb .menu .depth3{transition-property:visibility, opacity, padding-top, padding-bottom;transition-duration:250ms;transition-timing-function:ease-in-out;}
    #header .lnb .menu .depth1_item.active .depth2 .depth2_list .depth2_item.active .depth3{visibility:visible;opacity:1;padding-top:9px;padding-bottom:8px;}
    #header .lnb .menu .depth3 .depth3_list{transition-property:padding-top, padding-bottom, background-color;transition-duration:250ms;transition-timing-function:ease-in-out;}
    #header .lnb .menu .depth1_item.active .depth2_item.active .depth3 .depth3_list{padding-top:11px;padding-bottom:11px;background-color:#eff1f7;}
    #header .lnb .menu .depth3 .depth3_list .depth3_item{display:block;float:unset;width:100%;}
    #header .lnb .menu .depth3 .depth3_list .depth3_item .depth3_text{display:block;position:relative;width:100%;}
    #header .lnb .menu .depth3 .depth3_list .depth3_item .depth3_text{padding-left:20px;}
    #header .lnb .menu .depth1_item.active .depth2_item.active .depth3 .depth3_list .depth3_item.has .depth3_text:before{display:block;position:absolute;top:8px;right:20px;width:9px;height:6px;background:url(../images/sub/tablet_depth3_arrow.png)center center / cover no-repeat;}
    #header .lnb .menu .depth1_item.active .depth2_item.active .depth3 .depth3_list .depth3_item.has.active .depth3_text:before{background-image:url(../images/sub/tablet_depth3_arrow_active.png);}
    #header .lnb .menu .depth1_item.active .depth2_item.active .depth3 .depth3_list .depth3_item .depth3_text[target="_blank"]:before{display:block;position:absolute;top:4px;right:20px;width:14px;height:13px;background:url(../images/sub/tablet_depth_blank.png)center center / cover no-repeat;}
    #header .lnb .menu .depth3 .depth3_list .depth3_item .depth3_text span em{font-size:0px;color:#fff;letter-spacing:-0.025em;line-height:0px;font-weight:300;transition-property:font-size, line-height, color;transition-duration:250ms;transition-timing-function:ease-in-out;}
    #header .lnb .menu .depth1_item.active .depth2_item.active .depth3 .depth3_list .depth3_item .depth3_text span em{font-size:14px;color:#545454;line-height:20px;}
    #header .lnb .menu .depth1_item.active .depth2_item.active .depth3 .depth3_list .depth3_item.active .depth3_text span em{color:#216fe3;}
    #header .lnb .menu .depth4{padding-left:20px;padding-right:20px;transition-property:visibility, opacity, padding-top, padding-bottom;transition-duration:250ms;transition-timing-function:ease-in-out;}
    #header .lnb .menu .depth1_item.active .depth2_item.active .depth3_item.active .depth4{visibility:visible;opacity:1;padding-top:7px;padding-bottom:4px;}
    #header .lnb .menu .depth4 .depth4_list{padding-left:15px;padding-right:15px;border-radius:5px;transition-property:padding-top, padding-bottom, background-color;transition-duration:250ms;transition-timing-function:ease-in-out;}
    #header .lnb .menu .depth1_item.active .depth2_item.active .depth3_item.active .depth4 .depth4_list{padding-top:9px;padding-bottom:9px;background-color:#fff;}
    #header .lnb .menu .depth4 .depth4_list .depth4_item{display:block;position:relative;float:unset;width:100%;}
    #header .lnb .menu .depth4 .depth4_list .depth4_item .depth4_text{display:block;position:relative;width:100%;padding-left:9px;}
    #header .lnb .menu .depth1_item.active .depth2_item.active .depth3_item.active .depth4 .depth4_list .depth4_item .depth4_text:before{display:block;position:absolute;top:9px;left:0px;width:3px;height:3px;background-color:#c8c8c8;border-radius:50%;transition-property:background-color;transition-duration:250ms;transition-timing-function:ease-in-out;}
    #header .lnb .menu .depth1_item.active .depth2_item.active .depth3_item.active .depth4 .depth4_list .depth4_item.active .depth4_text:before{background-color:#212530;}
    #header .lnb .menu .depth1_item.active .depth2_item.active .depth3_item.active .depth4 .depth4_list .depth4_item .depth4_text[target="_blank"]:after{display:block;position:absolute;top:4px;right:0px;width:14px;height:13px;background:url(../images/sub/tablet_depth_blank.png)center center / cover no-repeat;}
    #header .lnb .menu .depth4 .depth4_list .depth4_item .depth4_text span em{font-size:0px;color:#fff;letter-spacing:-0.025em;line-height:0px;font-weight:300;transition-property:font-size, line-height, color;transition-duration:250ms;transition-timing-function:ease-in-out;}
    #header .lnb .menu .depth1_item.active .depth2_item.active .depth3_item.active .depth4 .depth4_list .depth4_item .depth4_text span em{font-size:14px;color:#696b73;line-height:20px;}
    #header .lnb .menu .depth1_item.active .depth2_item.active .depth3_item.active .depth4 .depth4_list .depth4_item.active .depth4_text span em{color:#212530;}
    #header .lnb_bottom_box{display:none;}
    #header .lnb_curtain{display:none;position:fixed;top:0;left:0;}
    #header .lnb_curtain button{width:100vw;height:100vh;background-color:rgba(0, 0, 0, 0.6);}
    #header .lnb .menu_hide{position:absolute;top:19px;right:20px;z-index:31;font-size:0;line-height:0;}
    #header .lnb .menu_hide .menu_button{width:20px;height:20px;background:url(../images/sub/menu_hide.png)center center / cover no-repeat;font-size:0;line-height:0;}
}
@media screen and (max-width:640px){
    #header{height:60px;}
    #header .header_box .wrap .logo{top:10px;}
    #header .header_box .wrap .logo a .image{width:58px;height:29px;}
    #header .header_box .wrap .logo a .text{font-size:18px;line-height:27px;}
    #header .header_box .wrap .menu_show{top:14px;}
    #header .lnb{width:100%;}
}
@media screen and (min-height: 850px) and (min-width:1001px){
    #header{position:fixed;z-index:3;}
}


/* footer */
@media screen and (min-width:1001px){
    #footer{margin-top:50px;background-color:#262630;}
    #footer .footer_wrap{width:1740px;margin:0 auto;padding:75px 0 150px;font-size:0;line-height:0;}
    #footer .footer_wrap .footer_left{float:left;font-size:0;line-height:0;}
    #footer .footer_wrap .footer_left .footer_nav_list{font-size:0;line-height:0;}
    #footer .footer_wrap .footer_left .footer_nav_list .footer_nav_item{display:inline-block;}
    #footer .footer_wrap .footer_left .footer_nav_list .footer_nav_item + .footer_nav_item{margin-left:26px;}
    #footer .footer_wrap .footer_left .footer_nav_list .footer_nav_item .footer_nav_text{font-size:16px;color:#88888e;letter-spacing:-0.025em;line-height:22px;font-weight:400;}
    #footer .footer_wrap .footer_left .footer_nav_list .footer_nav_item:first-child .footer_nav_text{color:#fff;}
    #footer .footer_wrap .footer_left .footer_nav_list .footer_nav_item .footer_nav_text:hover{text-decoration:none;}
    #footer .footer_wrap .footer_left .footer_address_list{width:100%;padding-top:35px;font-size:0;line-height:0;}
    #footer .footer_wrap .footer_left .footer_address_list .footer_address_item{display:inline-block;font-size:16px;color:#88888e;letter-spacing:-0.03em;line-height:27px;font-weight:400;}
    #footer .footer_wrap .footer_left .footer_address_list .footer_address_item:first-child{display:block;}
    #footer .footer_wrap .footer_left .footer_address_list .footer_address_item:last-child{padding-left:16px;}
    #footer .footer_wrap .footer_left .footer_copyright{padding-top:21px;font-size:16px;color:#88888e;letter-spacing:-0.03em;line-height:20px;font-weight:400;}
    #footer .footer_wrap .footer_right{position:relative;float:right;width:680px;font-size:0;line-height:0;text-align:right;}
    #footer .footer_wrap .footer_right:before{display:block;position:absolute;top:2px;left:0;opacity:0.2;width:1px;height:166px;background-color:#fff;}
    #footer .footer_wrap .footer_right .footer_ask_title{font-size:16px;color:#88888e;letter-spacing:-0.03em;line-height:24px;font-weight:400;}
    #footer .footer_wrap .footer_right .footer_ask_list{padding-top:22px;font-size:0;line-height:0;}
    #footer .footer_wrap .footer_right .footer_ask_list .footer_ask_item{display:inline-block;width:290px;font-size:0;line-height:0;vertical-align:top;}
    #footer .footer_wrap .footer_right .footer_ask_list .footer_ask_item:nth-child(2n - 1){width:calc(100% - 290px);}
    #footer .footer_wrap .footer_right .footer_ask_list .footer_ask_item:nth-child(n + 3){margin-top:22px;}
    #footer .footer_wrap .footer_right .footer_ask_list .footer_ask_item .tel{width:100%;font-size:30px;color:#fff;letter-spacing:-0.03em;line-height:40px;font-weight:400;}
    #footer .footer_wrap .footer_right .footer_ask_list .footer_ask_item .tel .kr{padding-left:8px;font-size:16px;font-weight:300;}
    #footer .footer_wrap .footer_right .footer_ask_list .footer_ask_item .tel .slash{padding-left:11px;font-size:24px;}
    #footer .footer_wrap .footer_right .footer_ask_list .footer_ask_item .text{font-size:16px;color:#88888e;letter-spacing:-0.03em;line-height:24px;font-weight:400;}
    #footer .footer_wrap .footer_right .footer_ask_list .footer_ask_item:last-child .text{padding-top:30px;}
    }
    @media screen and (max-width:1820px){
        #footer .footer_wrap{width:1300px;}
    }
    @media screen and (max-width:1450px){
        #footer .footer_wrap{width:1100px;}
        #footer .footer_wrap .footer_right{width:500px;}
        #footer .footer_wrap .footer_right .footer_ask_list .footer_ask_item{width:240px;}
        #footer .footer_wrap .footer_right .footer_ask_list .footer_ask_item:nth-child(2n - 1){width:calc(100% - 240px);}
        #footer .footer_wrap .footer_right .footer_ask_list .footer_ask_item .tel{font-size:22px;}
        #footer .footer_wrap .footer_right .footer_ask_list .footer_ask_item .tel .kr,
        #footer .footer_wrap .footer_right .footer_ask_list .footer_ask_item .text{font-size:15px;}
    }
    @media screen and (max-width:1200px){
        #footer .footer_wrap{width:94%;}
        #footer .footer_wrap .footer_left .footer_nav_list .footer_nav_item .footer_nav_text{font-size:15px;}
        #footer .footer_wrap .footer_left .footer_address_list .footer_address_item{font-size:15px;}
        #footer .footer_wrap .footer_left .footer_copyright{font-size:14px;}
        #footer .footer_wrap .footer_right{width:445px;}
        #footer .footer_wrap .footer_right .footer_ask_list .footer_ask_item{width:220px;}
        #footer .footer_wrap .footer_right .footer_ask_list .footer_ask_item:nth-child(2n - 1){width:calc(100% - 220px);}
        #footer .footer_wrap .footer_right .footer_ask_list .footer_ask_item .tel{font-size:21px;}
    }
    @media screen and (max-width:1000px){
        #footer{margin-top:50px;background-color:#262630;}
        #footer .footer_wrap{margin:0 auto;}
        #footer .footer_wrap .footer_left{width:100%;padding-top:46px;font-size:0;line-height:0;}
        #footer .footer_wrap .footer_left .footer_nav_list{font-size:0;line-height:0;text-align:center;}
        #footer .footer_wrap .footer_left .footer_nav_list .footer_nav_item{display:inline-block;}
        #footer .footer_wrap .footer_left .footer_nav_list .footer_nav_item + .footer_nav_item{margin-left:25px;}
        #footer .footer_wrap .footer_left .footer_nav_list .footer_nav_item .footer_nav_text{font-size:15px;color:#88888e;letter-spacing:-0.025em;line-height:22px;font-weight:400;}
        #footer .footer_wrap .footer_left .footer_nav_list .footer_nav_item:first-child .footer_nav_text{color:#fff;}
        #footer .footer_wrap .footer_left .footer_nav_list .footer_nav_item .footer_nav_text:hover{text-decoration:none;}
        #footer .footer_wrap .footer_left .footer_address_list{width:100%;padding-top:21px;font-size:0;line-height:0;text-align:center;}
        #footer .footer_wrap .footer_left .footer_address_list .footer_address_item{display:inline-block;font-size:15px;color:#88888e;letter-spacing:-0.03em;line-height:26px;font-weight:400;word-break:keep-all;}
        #footer .footer_wrap .footer_left .footer_address_list .footer_address_item:first-child{display:block;}
        #footer .footer_wrap .footer_left .footer_address_list .footer_address_item:last-child{padding-left:16px;}
        #footer .footer_wrap .footer_left .footer_copyright{width:100%;padding-top:13px;font-size:16px;color:#88888e;letter-spacing:-0.06em;line-height:20px;font-weight:400;text-align:center;}
        #footer .footer_wrap .footer_right{position:relative;width:100%;margin-top:49px;padding-bottom:45px; font-size:0;line-height:0;text-align:center;}
        #footer .footer_wrap .footer_right:before{display:block;position:absolute;top:0px;left:0;opacity:0.2;width:100%;height:1px;background-color:#fff;}
        #footer .footer_wrap .footer_right .footer_ask_title{display:block;padding-top:47px;font-size:15px;color:#88888e;letter-spacing:-0.03em;line-height:24px;font-weight:400;text-align:center;}
        #footer .footer_wrap .footer_right .footer_ask_list{display:inline-block;padding:23px calc((100% - 450px) / 2) 0;font-size:0;line-height:0;}
        #footer .footer_wrap .footer_right .footer_ask_list .footer_ask_item{display:inline-block;width:50%;max-width:220px;font-size:0;line-height:0;vertical-align:top;text-align:right;}
        #footer .footer_wrap .footer_right .footer_ask_list .footer_ask_item:nth-child(2n - 1){padding-right:15px;}
        #footer .footer_wrap .footer_right .footer_ask_list .footer_ask_item:nth-child(n + 3){margin-top:12px;}
        #footer .footer_wrap .footer_right .footer_ask_list .footer_ask_item .tel{width:100%;font-size:22px;color:#fff;letter-spacing:-0.03em;line-height:29px;font-weight:400;white-space:nowrap;}
        #footer .footer_wrap .footer_right .footer_ask_list .footer_ask_item .tel .kr{padding-left:5px;}
        #footer .footer_wrap .footer_right .footer_ask_list .footer_ask_item .tel .slash{padding-left:5px;}
        #footer .footer_wrap .footer_right .footer_ask_list .footer_ask_item .text{font-size:14px;color:#88888e;letter-spacing:-0.01em;line-height:24px;font-weight:400;white-space:nowrap;}
        #footer .footer_wrap .footer_right .footer_ask_list .footer_ask_item:last-child .text{padding-top:30px;}
    }
    @media screen and (max-width:640px){
        #footer .footer_wrap .footer_left .footer_copyright{padding:10px 20px 0;line-height:25px;word-break:keep-all;}
        #footer .footer_wrap .footer_right{margin-top:38px;text-align:center;}
        #footer .footer_wrap .footer_right .footer_ask_title{padding-top:36px;}
        #footer .footer_wrap .footer_right .footer_ask_list{display:inline-block;width:175px;padding:0;text-align:right;}
        #footer .footer_wrap .footer_right .footer_ask_list .footer_ask_item{display:block;width:100%;max-width:100%;}
        #footer .footer_wrap .footer_right .footer_ask_list .footer_ask_item:nth-child(2n - 1){width:100%;padding-right:0;}
        #footer .footer_wrap .footer_right .footer_ask_list .footer_ask_item + .footer_ask_item{margin-top:12px;}
        #footer .footer_wrap .footer_right .footer_ask_list .footer_ask_item .tel{font-size:19px;letter-spacing:-0.05em;}
        #footer .footer_wrap .footer_right .footer_ask_list .footer_ask_item:last-child .text{padding-top:0px;}
    }
    
    
    @media print{
        body{width:210mm;height:297mm;margin:auto;}
        #header, .sub_visual, .sub_head, .bottom_path_wrap, .print_box, #footer{display:none !important;}
    }


/* web */
@media all and (max-width:1450px){
#wrapper{min-width:1200px;}
.wrap{width:1200px;}
}
@media all and (max-width:1200px){
#wrapper{min-width:94%;}
.wrap{width:94%;}
}

/* tablet */
@media all and (max-width:1000px){
#wrapper{min-width:0;}
.wrap{width:94%;}
}