@charset "UTF-8";



.inner{
    width: 100%;
}
#main-logo{
    width: 200px;
}
#main-menu{
    gap: 40px;
}
#main-menu li a{
    font-size: 16px;
}



/* contents */

/* banner */

.banner-title{
    padding: 80px 0;
    font-size: 24px;
}



/* category */

.category-contents li a{
    align-items: center;
}
.category-title-kr{
    font-size: 12px;
    white-space: nowrap;
}
.category-title-en{
    display: none;
}



/* food */

.food-contents{
    gap: 4%;
}
.food-contents li{
    width: 30.65%;
}
.food-text{
    height: 68px;
}
#concretes-location{
    gap: 30px;
}
.concretes-info p{
    font-size: 18px;
    line-height: 22px;
}
.view-info{
    width: 130px;
}
.view-info p{
    font-size: 16px;
}
.view-info img{
    width: 25px;
}
.food-price-top, .food-price-bot{
    width: 75%;
}
.pack{
    font-size: 12px;
}
.price{
    font-size: 14px;
}



/* concretes-table */

.store-info-bg a{
    padding: 0 40px;
}
.table-location{
    font-size: 14px;
}
td{
    font-size: 12px;
}



.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-logo{
    width: 180px;
}
.footer-top-menu{
    display: flex;
    justify-content: center;
    gap: 10px;
}
