@charset "UTF-8";

/* (주)한신정보기술 서정한 - 2019.08 */

body{position:relative;font-size:16px;letter-spacing:-0.03em;line-height:25px;color:#333333;font-weight:400;font-family:'CoreDream', 'NotoKr','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;}
a:link{color:#333333;text-decoration:none;}
a:visited{color:#333333;text-decoration:none;}
a:hover{color:#333333;text-decoration:underline;}
a:active{color:#333333;text-decoration:underline;}
a span{cursor:pointer;}
button{cursor:pointer; font-family:'CoreDream', 'NotoKr','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;}
input{font-family:'CoreDream', 'NotoKr','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;}
input[type="submit"]{cursor:pointer;}

/* Slider */
.slick-slider{position:relative; display:block; box-sizing:border-box;}
.slick-list{position:relative;display:block; overflow:hidden; margin:0;padding:0;}
.slick-list:focus{outline:none;}
.slick-list.dragging{cursor:pointer;}
.slick-track{ position:relative; top:0;left:0;display:block;}
.slick-track:before,.slick-track:after{display:table;content:'';}
.slick-track:after{clear:both;}
.slick-loading .slick-track{visibility:hidden;}
.slick-slide{display:none;float:left;height:100%;min-height:1px;}
[dir='rtl'] .slick-slide{float:right;}
.slick-slide img{display:block; width:100%;}
.slick-slide.slick-loading img{display:none;}
.slick-initialized .slick-slide{display:block;}
.slick-loading .slick-slide{visibility:hidden;}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent;}
#screen{visibility:hidden; overflow:scroll; position:absolute; bottom:0; left:0; width:100px; height:100px;}

/* 메뉴공통css */
/* 메뉴 */
.menu.init, .menu.init:before, .menu.init:after, .menu.init .depth, .menu.init .depth:before, .menu.init .depth:after, .menu.init .depth_list, .menu.init .depth_list:before, .menu.init .depth_list:after, .menu.init .depth_item, .menu.init .depth_item:before, .menu.init .depth_item:after, .menu.init .depth_text, .menu.init .depth_text:before, .menu.init .depth_text:after, .menu.init .depth_title, .menu.init .depth_title:before, .menu.init .depth_title:after {transition-property:all; transition-duration:0.25s; transition-timing-function:linear;}
.menu, .menu .depth, .menu .depth_list, .menu .depth_item, .menu .depth_text {position:relative;}
.menu {font-size:0px; line-height:0px;}
.menu .depth:not(.depth1) {visibility:hidden; opacity:0; overflow:hidden;}
.menu .depth1 {z-index:30;}
.menu .depth_list {z-index:10;}
.menu .depth_text {display:inline-block;}

/* 1, 2차 메뉴 배경 */
.menu.before:before, .menu.after:after {display:block; position:absolute;}
.menu.before:before {z-index:10;}
.menu.after:after {z-index:20;}

/* 제목 상자 */
.menu .depth_title {overflow:hidden; position:absolute; z-index:20;}

/* 옵션 */
.menu .depth1.clearfix .depth1_list {float:right;}
.menu .depth_list.clearfix > .depth_item {float:left;}
.menu .depth_list.cut > .depth_item {display:inline-block; vertical-align:top;}

/* 풀 다운 */
.menu.pulldown .depth1 {height:100%;}
.menu.pulldown .depth1_list, .menu.pulldown .depth1_item {height:inherit;}
.menu.pulldown .depth2 {position:absolute; bottom:0; left:0; width:100%;}

/* 이치 다운 */
.menu.eachdown .depth1 {height:100%;}
.menu.eachdown .depth1_list, .menu.eachdown .depth1_item {position:static; height:inherit;}
.menu.eachdown .depth2 {position:absolute; bottom:0; left:0; width:100%;}

/* 드롭 다운 */
.menu.dropdown .depth2 {position:absolute; top:100%; left:0; width:100%; transform-origin:center top; transform:scaleY(0);}


#wrapper{position:relative; min-width:1660px; overflow:hidden;}
.wrap{position:relative;width:1660px;margin:0 auto;}
.skip{overflow:hidden;}

@media all and (max-width:1660px){
    #wrapper{min-width:1400px;}
    .wrap{width:1400px;}
}
@media all and (max-width:1400px){
    #wrapper{min-width:1000px;}
    .wrap{width:1000px;}
}
/* tablet */
@media all and (max-width:1000px){
    #wrapper{min-width:0;}
    .wrap{width:94%;}
}

#wrapper{padding-top: 130px;transition: padding-top 250ms ease-in-out;}
/*헤더영역*/
#header{z-index:70;background-color: transparent;}
#header .header_top{z-index:10;position:relative;width:100%;height:auto;font-size:0;line-height:0;background-color: #fff;transition: margin-top 0.3s ease-in-out}
.fixed #header .header_top{margin-top:-48px;}
.lnb_open #header .header_top{background-color: #fff;}
.search_open #header .header_top{background-color: #fff;}
#header .header_top .wrap{padding-top:12px;}
#header .header_top .site_link{float:left;}
#header .header_top .link_item{display:inline-block;margin-right:14px;}
#header .header_top .link_item .link_btn{position:relative;padding-left:18px;font-size:15px;line-height:30px;color:#757b8e;font-family: 'SBAggro', 'NotoKr', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif}
#header .header_top .link_item .link_btn:before{display:block;position:absolute;top:calc(50% - 2px);left:0;width:4px;height:4px;border-radius:50%;background-color:#d5d7dd;}
#header .header_top .link_item:first-child .link_btn:before{display: none;}
#header .header_top .link_item:first-child .link_btn{padding-left:0;}
#header .header_top .right_area{float:right;}
#header .header_top .right_area .right{display:inline-block;position:relative;margin:0 16px;vertical-align:top;}
#header .header_top .right_area .right:first-child:before{display: block;position: absolute;top:9px;right:-16px;width: 1px;height: 14px;background-color: #d5d7dd;}
#header .header_top .right_area .member_box .member{position:relative;font-size:15px;line-height:34px;padding-left:27px;color:#757b8e;font-family: 'SBAggro', 'NotoKr', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif}
#header .header_top .right_area .member_box .member:before{display:block;position:absolute;top:7px;left:0;background:url('../../public/images/common/btn_icons.png') no-repeat -157px -28px;width:16px;height:16px;}
#header .header_top .right_area .language_box .lang_btn{position:relative;font-size:15px;line-height:34px;padding-left:27px;padding-right:26px;color:#757b8e;font-family: 'SBAggro', 'NotoKr', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif}
#header .header_top .right_area .language_box .lang_btn:before{display:block;position:absolute;top:8px;left:0;background:url('../../public/images/common/btn_icons.png') no-repeat -45px -55px;width:17px;height:16px;}
#header .header_top .right_area .language_box .lang_btn:after{display:block;position:absolute;top:calc(50% - 4px);right:0;background:url('../../public/images/common/btn_icons.png') no-repeat -70px -60px;width:11px;height:7px;}
#header .header_top .right_area .language_box .lang_layer{display: none;position: absolute;top:42px;right:0;background-color: #fff;width: 175px;border: 1px solid #e2e3e8;border-radius: 15px;padding: 23px 37px 23px 20px;box-shadow: 8px 6px 20px 0px rgba(32, 54, 121, 0.07);}
#header .header_top .right_area .language_box .lang_layer .lang_link{position:relative;padding-left:26px;font-size: 15px;line-height: 37px;color:#757b8e;}
#header .header_top .right_area .language_box .lang_layer .lang_item.active .lang_link{color:#26293d;}
#header .header_top .right_area .language_box .lang_layer .lang_item .lang_link:hover{color:#26293d;}
#header .header_top .right_area .language_box .lang_layer .lang_link:before{opacity:0;display:block;position: absolute;top:calc(50% - 4px);left:0;background: url('../../public/images/common/btn_icons.png') no-repeat -216px -4px;width: 13px;height: 9px;transition: opacity 250ms ease-in-out;}
#header .header_top .right_area .language_box .lang_layer .lang_item.active .lang_link:before{opacity: 1}
#header .header_top .right_area .language_box .lang_layer .lang_item .lang_link:hover:before{opacity: 1}
#header .header_top .right_area .language_box .lang_layer .lang_close{position: absolute;top:15px;right:15px;width: 21px;height: 21px;background: url('../../public/images/common/btn_icons.png') no-repeat -163px -1px;}

#header .header_top .right_area .family_box{display:inline-block;width:141px;height:34px;background-color:#3f65d9;border-radius:30px;margin-left:10px;}
#header .header_top .right_area .family_btn{position:relative;display:inline-block;font-size:15px;line-height:34px;color:#fff;width:100%;height:100%;padding:0 40px 0 22px;text-align:left;font-family: 'SBAggro', 'NotoKr', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif;}
#header .header_top .right_area .family_btn:before{display:block;position:absolute;top:calc(50% - 8px);right:20px;background:url('../../public/images/common/btn_icons.png') no-repeat -29px -1px;width:17px;height:17px;}

#header .logo{position:absolute;top:20px;left:0;}
#header .logo > a{z-index:10;position:relative;text-decoration:none;}
#header .logo .image{display: inline-block;width: 111px;height: 38px;background-image: url('../../public/images/common/logo.png');background-repeat: no-repeat;background-position: left center;background-size: 111px 38px;vertical-align: top;color: transparent;font-size: 0;vertical-align: middle;}
#header .logo .text{font-size:26px;line-height:36px;font-weight: 500;margin-left:15px;font-family: 'SBAggro', 'NotoKr', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif}
#header .logo .text{margin-top:-2px;margin-left:5px;}
.lnb .menu .depth1{width:1660px;margin:0 auto;}
.lnb .menu .depth1_item{}
.lnb .menu .depth1_text{padding:28px 35px;}
.lnb .menu .depth1_text > span{font-size:21px;line-height:30px;}

.lnb .depth2{position:absolute;top:86px;left:0;width:100%;height:100%;transition-property:visibility, opacity;transition-duration:250ms;transition-timing-function:ease-in-out;}
.header_bottom{z-index:5;position:relative;font-size:0;line-height:0;}
.header_bottom .bot_list{position:absolute;top:25px;right:10px;}
.header_bottom .bot_list .bot_item{display:inline-block;margin-left:24px;vertical-align:middle}
.header_bottom .bot_list .bot_item .bot{position:relative;width:30px;height:30px;}
.header_bottom .bot_list .bot_item .bot:before{display:block;position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;background:url('../../public/images/common/btn_icons.png') no-repeat;width:19px;height:19px;}
.header_bottom .bot_list .bot_item .search_btn:before{background-position:-82px 0}
.header_bottom .bot_list .bot_item .sitemap_btn:before{background-position:-110px 0}

.lnb{position:absolute;top:0;left:0;z-index:5;width:100%;padding-top:46px;transition: padding-top 0.3s ease-in-out}
.fixed .lnb{box-shadow: 12px 9px 50px 0px rgba(24, 36, 70, 0.08);padding-top:0;}
.lnb .depth2 .depth2_text > span{font-size:17px;line-height:28px;font-weight:500;color:#26293d;}
.lnb .menu .depth2 .depth2_text[target='_blank']:before{display: block;position: absolute;top:calc(50% - 8px);right:18px;background: url('../../public/images/common/btn_icons.png') no-repeat -20px -55px;width: 16px;height: 16px;}

.lnb .depth3 .depth3_text:hover > span{text-decoration:underline;text-underline-position: under}

.lnb_curtain{opacity:0;display:block;visibility:hidden;position: fixed;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,0.6);transition-property: opacity, visibility;transition-duration: 250ms;transition-timing-function: ease-in-out;}

/*검색팝업*/
.search_box{display:none;position: absolute;top:130px;left:0;right: 0;margin: auto;width: 100%;background-color: #eef6fb;}
.search_box.active{display: block;}
.search_open body{overflow-y: hidden;}
.search_box:before{z-index:-1;display:block;position: fixed;width: 100%;height: 100%;background: rgba(0,0,0,0.6);top:0;left:0;}
.search_box .search_area{position:relative;width:720px;padding: 120px 0 118px;margin: 0 auto;}
.search_box .search_area .search_wrap{position: relative;padding-right: 40px;}
.search_box .search_area .search_wrap .search_bar{overflow:hidden;position:relative;width:100%;height: 80px;border-radius:40px 20px 40px 20px;border: 3px solid #412c70;background-color: #fff;}
.search_box .search_area .search_wrap .search_bar:before{display: block;position: absolute;bottom:0;left:33px;background:url('../../public/images/common/search_icon.png') no-repeat;width:54px;height:69px;}
.search_box .search_area .search_wrap .search_bar .search_query{width:100%;border: none;padding:26px 50px 18px 115px;font-size: 24px;line-height: 30px;color:#757b8e;border-radius: 40px 20px 40px 20px;font-family: 'SBAggro', 'NotoKr', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif}
.search_box .search_area .search_wrap .search_submit{position: absolute;top:7px;right:2px;width: 70px;height: 70px;border-radius: 50%;font-size: 0;}
.search_box .search_area .search_wrap .search_submit input{width: 100%;height: 100%;background:url('../../public/images/common/search_btn.png') no-repeat;background-position: center;}
.search_box .search_area .popular_search{margin: 17px 0 0 44px;}
.search_box .search_area .popular_search .title{display: inline-block;position: relative;padding-left:30px;font-size: 15px;line-height:22px;font-weight:500;color:#22b69d;}
.search_box .search_area .popular_search .title:before{display: block;position: absolute;top:0;left:0;background: url('../../public/images/common/btn_icons.png') no-repeat -157px -56px;width: 21px;height: 21px;}
.search_box .search_area .popular_search .list{overflow:hidden;display: inline-block;position: absolute;width:calc(100% - 216px);padding-left:47px;white-space: nowrap;vertical-align: top;}
.search_box .search_area .popular_search .list:before{display: block;position: absolute;top:50%;left:13px;background-color: #c7cfd9;width: 22px;height: 1px;}
.search_box .search_area .popular_search .item{display: inline-block;margin-right:4px;}
.search_box .search_area .popular_search .item > a{font-size: 15px;line-height:22px;color:#757b8e;}
.search_box .search_close{position: absolute;bottom:-25px;left:0;right:0;margin: 0 auto;width: 50px;height: 50px;font-size: 0;}
.search_box .search_close .c_btn{position:relative;width:100%;height:100%;background-color: #0c1129;border-radius: 50%;}
.search_box .search_close .c_btn:before{display: block;position: absolute;top:0;left:0;right:0;bottom:0;margin: auto;background:url('../../public/images/common/popup_close.png') no-repeat;width: 18px;height: 19px;}

/*주요누리집*/
.lnb_show.family_open body{overflow-y: auto;}
.family_layer{display:none;position: absolute;top: 0;left: 0;width: 100%;z-index: 75;text-align: center;}
.family_layer:before{display: block;position: fixed;top:0;left:0;z-index: -1;width: 100%;height: 100%;background-color: rgba(0,0,0,0.6);}
.family_layer .inner{position:relative;width: 1660px;margin: 180px auto 0;background-color: #fff;border-radius: 150px 30px 30px 30px;box-shadow: 8px 6px 20px 0px rgba(32, 54, 121, 0.07);}
.family_layer .inner:before{display: block;position: absolute;top:-133px;left:0;right:0;margin: 0 auto;background:url('../../public/images/common/family_icon.png') no-repeat;width: 394px;height: 152px}
.family_layer .inner .title_area{z-index:5;position:relative;padding: 40px 0 25px;}
.family_layer .inner .title_area .sub_title{font-size: 18px;line-height:30px;font-weight: 300;color:#757b8e;}
.family_layer .inner .title_area .title{font-size: 32px;line-height:45px;font-weight: 500;color:#3f65d9;font-family: 'SBAggro', 'NotoKr', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif}
.family_layer .inner .family_area{z-index:1;position:relative;padding:33px 0 54px;background-color: #f4f4f9;border-radius: 0 0 30px 30px}
.family_layer .inner .family_area:before{z-index:-1;display: block;position: absolute;top:-40px;left:55px;background:url('../../public/images/common/family_icon2.png') no-repeat;width: 224px;height: 209px}
.family_layer .inner .family_area:after{z-index:-1;display: block;position: absolute;top:-115px;right:75px;background:url('../../public/images/common/family_icon3.png') no-repeat;width: 246px;height: 246px}
.family_layer .inner .family_area .family_item{display: inline-block;margin-right: 35px;vertical-align: top;}
.family_layer .inner .family_area .family_item:nth-child(1){width: 280px;}
.family_layer .inner .family_area .family_item:nth-child(2){width: 160px;}
.family_layer .inner .family_area .family_item:nth-child(3){width: 280px;}
.family_layer .inner .family_area .family_item:nth-child(4){width: 280px;}
.family_layer .inner .family_area .family_item:nth-child(5){width: 160px;}
.family_layer .inner .family_area .family_item:last-child{margin-right: 0;}
.family_layer .inner .family_area .family_item .tit{font-size: 22px;line-height: 35px;color:#26293d;font-family: 'SBAggro', 'NotoKr', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif}
.family_layer .inner .family_area .family_item .family_list{width:100%;height: 440px;margin-top: 15px;background-color: #fff;border-radius: 15px;padding: 25px 30px;text-align: left;box-shadow: 12px 9px 40px 0px rgba(24, 36, 70, 0.05);}
.family_layer .inner .family_area .family_item .family_list .list{overflow-x: hidden;overflow-y: auto;height: 390px;}
.family_layer .inner .family_area .family_item .family_list .link_item > a{position: relative;display:block;padding:0 22px 0 17px;font-size: 16px;line-height: 28px;color:#757b8e;font-weight: 300;}
.family_layer .inner .family_area .family_item .family_list .link_item > a:before{display: block;position: absolute;top:calc(50% - 2px);left:0;width: 5px;height: 5px;border-radius: 50%;background-color: #d5d7dd;}
.family_layer .inner .family_area .family_item .family_list .link_item > a:after{display: block;position: absolute;top:calc(50% - 7px);right:5px;background: url('../../public/images/common/btn_icons.png') no-repeat 0 -55px;width: 14px;height: 14px;}
.family_layer .inner .family_close{position: absolute;top:-40px;right: 60px;width: 80px;height: 80px;font-size: 0;border-radius: 50%;box-shadow: 12px 9px 40px 0px rgba(24, 36, 70, 0.2);}
.family_layer .inner .family_close > button{z-index:5;position:relative;width: 100%;height: 100%;background: #26293d;border-radius: 50%;}
.family_layer .inner .family_close > button:before{display: block;position: absolute;top:0;left:0;right:0;bottom:0;margin: auto;background: url('../../public/images/common/icons_m.png') no-repeat -61px -1px;width: 15px;height: 16px;}

.fixed #header:before{display: none;}

.lnb_bg{display:none;}

body[data-transparent="Y"] #container{margin-top: 0;background-color: #26293d;}

@media all and (min-width:1001px) {
	.fixed .search_box{top:85px;}
    #header .menu_show{display:none;}
    #header .menu_hide{display:none;}
    .lnb .lnb_topbox{display:none;}

    #header{position:fixed;top:0;left:0;width:100%;height:130px;}
    .fixed #header{height: 85px;}
    .lnb .menu{z-index:3;overflow:hidden;position:relative;height:85px;min-height:85px;transition-property:height, min-height; transition-duration:300ms; transition-timing-function:ease-in-out; background-color:#fff}
    .fixed .lnb .menu{background-color: rgba(255,255,255,.9);backdrop-filter:blur(2px)}
    .lnb_open .lnb .menu{min-height:599px;background-color: #fff}
    .search_open .lnb .menu{background-color: #fff}
    .lnb .menu:before{display:block;position:absolute;top:84px;left:0;background-color:#e3e5e8;width:100%;height:1px;}
    .lnb .menu:after{opacity:0;display:block;position:absolute;bottom:0;left:0;background:url('../../public/images/common/menu_bg2.png') no-repeat;width:492px;height:0; transition-property:height; transition-duration:300ms; transition-timing-function:ease-in-out;}
    .lnb_open .lnb .menu:after{height:307px; opacity:1}
    .lnb .menu .depth1{width:1660px;margin:0 auto;}
    .lnb .menu .depth1_list{padding-left:480px;padding-right:115px;}
    .lnb .menu .depth1_text{margin:0 30px;padding:28px 5px;}
    .lnb .menu .depth1_text:before{opacity:0;display: block;position: absolute;bottom:0;left:0;right: 0;margin: 0 auto;background-color: #3f65d9;height: 3px;width: 100%;transition: opacity 250ms ease-in-out;}
    .lnb .menu .depth1_item.active .depth1_text:before{opacity: 1;}
    .lnb .menu .depth1_text > span{font-family: 'SBAggro', 'NotoKr', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif}
    .lnb .depth2{transition-property:visibility, opacity, top;height:calc(100% - 86px);font-size:16px;line-height:1.3em;}
    .lnb .depth1_item.active .depth2{visibility:visible;opacity:1;}
    .lnb .menu .depth2 .menu_title{position:absolute;width:370px;top:47px;left:0;text-align:center;}
    .lnb .menu .depth2 .menu_title .title{font-size:32px;line-height:54px;color:#3f65d9;font-weight:500;font-family: 'SBAggro', 'NotoKr', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif}
    .lnb .menu .depth2 .depth2_list{position:relative;overflow-y:auto;max-height:700px;padding-left:370px;padding-top:50px;padding-bottom:10px;}
    .lnb .menu .depth2 .depth2_item{float:none;display:inline-block;width:calc(25% - 44px);margin-right:40px;vertical-align: top;}
    .lnb .menu .depth2 .depth2_text{display:block;position:relative;padding:10px 20px;border:1px solid #d5d7dd;border-radius:10px;background-color: #fff}
    .lnb .menu .depth2 .depth2_text[target='_blank']:before{display: block;position: absolute;top:calc(50% - 8px);right:18px;background: url('../../public/images/common/btn_icons.png') no-repeat -20px -55px;width: 16px;height: 16px;}
    .lnb .menu .depth2 .depth2_item.has .depth2_text:before{display: block;position: absolute;top:20px;right:20px;background: url('../../public/images/common/arrows_btn.png') no-repeat -59px -17px;width: 13px;height: 8px;}
    .lnb .depth1_item.active .depth3{visibility:visible;opacity:1;}
    .lnb .depth3 .depth3_list{position:relative;margin:10px 20px 55px 20px;}
    .lnb .depth3 .depth3_item{display:block;float:none!important;}
    .lnb .depth3 .depth3_text{position:relative;display:block;padding:0 17px;}
    .lnb .depth3 .depth3_text:before{display:block;position:absolute;top:12px;left:0;border-radius:50%;background-color:#d5d7dd;width:5px;height:5px;}
    .lnb .depth3 .depth3_text[target='_blank']:after{display: block;position: absolute;top:8px;right:0;background: url('../../public/images/common/btn_icons.png') no-repeat 0 -55px;width: 14px;height: 14px;}
    .lnb .depth3 .depth3_text > span{font-size:15px;line-height:28px;color:#757b8e;}

    .lnb .depth4{display: none;}

    .lnb_open .lnb_curtain{opacity:1;visibility: visible;}
    .lnb_curtain > button{display: none;}

    /*type2_transparent*/
    html:not(.fixed):not(.lnb_open) body[data-transparent="Y"] #wrapper{padding-top: 0;}
    html:not(.fixed):not(.lnb_open):not(.search_open) body[data-transparent="Y"] #header .header_top{background-color: transparent}
    html:not(.fixed):not(.lnb_open):not(.search_open) body[data-transparent="Y"] #header .header_top .link_item .link_btn{color:#fff; transition-property:color; transition-duration:300ms; transition-timing-function:linear;}
    html:not(.fixed):not(.lnb_open):not(.search_open) body[data-transparent="Y"] #header .header_top .link_item .link_btn:before{background-color: #686a78; transition-property:background-color; transition-duration:300ms; transition-timing-function:linear;}
    html:not(.fixed):not(.lnb_open):not(.search_open) body[data-transparent="Y"] #header .header_top .right_area .right:first-child:before{background-color: #686a78; transition-property:background-color; transition-duration:300ms; transition-timing-function:linear;}
    html:not(.fixed):not(.lnb_open):not(.search_open) body[data-transparent="Y"] #header .header_top .right_area .member_box .member{color:#fff; transition-property:color; transition-duration:300ms; transition-timing-function:linear;}
    html:not(.fixed):not(.lnb_open):not(.search_open) body[data-transparent="Y"] #header .header_top .right_area .member_box .member:before{background: url('../../public/images/common/btn_icons_bk.png') no-repeat -50px -1px;}
    html:not(.fixed):not(.lnb_open):not(.search_open) body[data-transparent="Y"] #header .header_top .right_area .language_box .lang_btn{color:#fff; transition-property:color; transition-duration:300ms; transition-timing-function:linear;}
    html:not(.fixed):not(.lnb_open):not(.search_open) body[data-transparent="Y"] #header .header_top .right_area .language_box .lang_btn:after{background: url('../../public/images/common/btn_icons_bk.png') no-repeat -213px -7px;}
    html:not(.fixed):not(.lnb_open):not(.search_open) body[data-transparent="Y"] #header .header_top .right_area .language_box .lang_btn:before{background: url('../../public/images/common/btn_icons_bk.png') no-repeat -79px -1px;}
    html:not(.fixed):not(.lnb_open):not(.search_open) body[data-transparent="Y"] .lnb .menu{background-color: transparent}
	body[data-transparent="Y"] .lnb .menu:before{transition-property:background-color; transition-duration:300ms; transition-timing-function:linear;}
    html:not(.fixed):not(.lnb_open):not(.search_open) body[data-transparent="Y"] .lnb .menu:before{background-color: #3e4255;}
    html:not(.fixed):not(.lnb_open):not(.search_open) body[data-transparent="Y"] .lnb .menu .depth1_text{color:#fff; transition-property:color; transition-duration:300ms; transition-timing-function:linear;}
    html:not(.fixed):not(.lnb_open):not(.search_open) body[data-transparent="Y"] #header .logo .image{background-image: url('../../public/images/common/logo_bk.png');}
    html:not(.fixed):not(.lnb_open):not(.search_open) body[data-transparent="Y"] #header .logo .text{color:#fff; transition-property:color; transition-duration:300ms; transition-timing-function:linear;}
    html:not(.fixed):not(.lnb_open):not(.search_open) body[data-transparent="Y"] #header .header_top .right_area .family_box{background-color: transparent;border: 1px solid #646676; transition-property:background-color, border; transition-duration:300ms; transition-timing-function:linear;}
    html:not(.fixed):not(.lnb_open):not(.search_open) body[data-transparent="Y"] .header_bottom .bot_list .bot_item .search_btn:before{background: url('../../public/images/common/btn_icons_bk.png') no-repeat -113px -1px;}
    html:not(.fixed):not(.lnb_open):not(.search_open) body[data-transparent="Y"] .header_bottom .bot_list .bot_item .sitemap_btn:before{background: url('../../public/images/common/btn_icons_bk.png') no-repeat -181px 0;}
	
	body[data-transparent="Y"] #header .header_top{background-color:transparent;}
	body[data-transparent="Y"] #header{transition-property:height, background-color; transition-duration:300ms; transition-timing-function:linear;}
	.fixed body[data-transparent="Y"] #header{background-color:#FFF;}
	body[data-transparent="Y"] .lnb .menu{background-color:transparent; transition-timing-function:linear;}
	body[data-transparent="Y"] .lnb{transition-property:padding-top, background-color; transition-duration:300ms; transition-timing-function:linear;}
	.fixed body[data-transparent="Y"] .lnb{background-color:#FFF;}
	.fixed body[data-transparent="Y"] .lnb_bg{display:none;}
	body[data-transparent="Y"] .lnb_bg{display:block; position:absolute; top:0; left:0; width:100%; height:0; overflow:hidden; background-color:#FFF; transition-property:height; transition-timing-function:linear;}
	html:not(.lnb_open) body[data-transparent="Y"] .lnb_bg{transition-delay:200ms; transition-duration:200ms;}
	.lnb_open body[data-transparent="Y"] .lnb_bg{height:100%; transition-duration:200ms;}
	body[data-transparent="Y"] .lnb .menu:after{display:none;}
	body[data-transparent="Y"] .lnb_bg:before{display:block;position:absolute;bottom:0;left:0;background:url('../../public/images/common/menu_bg2.png') no-repeat;width:492px;height:307px;content:'';}
	body[data-transparent="Y"] .search_box:after{display:block; position:absolute;top:-130px;left:0;z-index:1; width:100%; height:calc(100% + 130px); background-color:#eef6fb; content:'';}
	body[data-transparent="Y"] .search_box .wrap{z-index:2;}
}

@media all and (max-width:1660px){
    .lnb .menu .depth1{width: 1400px;}
    .lnb .menu .depth1_list{padding-left: 340px;}
    .lnb .menu .depth2 .menu_title{width: 305px;}
    .lnb .menu .depth2 .depth2_list{padding-left: 305px;}
    .lnb .menu .depth2 .depth2_item{width: calc(25% - 33px);margin-right: 30px;}

    .family_layer .inner{width: 1400px;}
}
@media all and (max-width:1400px){
    .lnb .menu .depth1{width: 1000px;}
    .lnb .menu .depth1_list{padding-left: 310px;padding-right: 115px;}
    .lnb .menu .depth1_text{margin: 0 10px;}
    .lnb .menu .depth2 .menu_title{width: 240px;}
    .lnb .menu .depth2 .menu_title .title{font-size:25px;}
    .lnb .menu .depth2 .depth2_list{padding-left: 240px}
    .lnb .menu .depth2 .depth2_item{margin-right: 20px;width: calc(33.3333% - 23px);}
    .lnb .depth2 .depth2_text > span{font-size: 15px;}
    .lnb .depth3 .depth3_list{margin: 10px 10px 25px 10px;}
    .lnb .menu .depth1_text > span{font-size: 18px;}

    .search_box .search_area{width:640px;padding: 80px 0;}

    .family_layer .inner{width: 1000px;}
    .family_layer .inner:before{top:-122px;transform: scale(0.8)}
    .family_layer .inner .family_close{width: 60px;height: 60px;top:-30px;}
    .family_layer .inner .family_area{padding: 15px 30px;}
    .family_layer .inner .family_area:before{left:32px;}
    .family_layer .inner .family_area:after{top:-114px;right: 13px;}
    .family_layer .inner .family_area .family_item{display: block;width: 100% !important;margin-right: 0;margin-bottom:10px;text-align: left;}
    .family_layer .inner .family_area .family_item .tit{font-size: 17px;line-height: 32px;margin-left: 22px;}
    .family_layer .inner .family_area .family_item .family_list{margin-top: 0;padding: 20px 25px;height: auto;}
    .family_layer .inner .family_area .family_item .family_list .list{height: auto;}
    .family_layer .inner .family_area .family_item .family_list .link_item{display: inline-block;width: calc(25% - 3px);}
    .family_layer .inner .family_area .family_item .family_list .link_item > a{font-size: 13px;line-height: 22px;}
    .family_layer .inner .family_area .family_item .family_list .link_item > a:after{display: none;}
}
@media all and (max-width:1000px){
    .lnb_show body{overflow-y: hidden;}

    #wrapper{padding-top: 0;}
    #header{position: relative;top: auto;left: auto;height: 80px;}
    #header .header_top{display: none;}
    #header .logo{top:26px;}
    #header .logo .image{width: 82px;height: 27px;background-size: 82px 27px;}
    #header .logo .text{font-size: 20px;line-height: 30px;margin-left: 6px;}
    #header .menu_show{position: absolute;top:27px;right:0;font-size: 0;}
    #header .menu_show .menu_button{position:relative;width: 18px;height: 18px;}
    #header .menu_show .menu_button:before{display: block;position:absolute;top:0;left:0;bottom:0;right:0;margin:auto;background: url('../../public/images/common/btn_icons.png') no-repeat -110px 0;width: 18px;height: 18px;}
    .lnb{z-index:80;position:fixed;left:auto;right: 0;width: 360px;height:100vh;padding-top:0;background-color:#f6f8fe;transform: translateX(100%);transition: transform 250ms ease-in-out;}
    .lnb_show .lnb{transform: translateX(0);}
    .lnb .lnb_topbox{position:relative;width: 100%;height: 130px;padding:20px 20px 30px;margin-bottom:10px;font-size: 0;}
    .lnb .lnb_topbox:before{z-index:-1;display: block;position: absolute;top:0;left:0;width: 100%;height: 100px;background-color: #4a4f66;border-radius: 0 0 20px 20px}
    .lnb .lnb_topbox .m_log{display: inline-block;width: 94px;height: 30px;background: url('../../public/images/common/logo_m.png') no-repeat;}
    .lnb .lnb_topbox .right_area{float: right;margin-right: 40px;}
    .lnb .lnb_topbox .right_area .right{display: inline-block;position:relative;width: 30px;height: 30px;vertical-align: top;margin: 0 10px;}
    .lnb .lnb_topbox .right_area .right:before{display: block;position: absolute;top:calc(50% - 7px);right:-10px;width: 1px; height: 15px;background: rgba(255,255,255,0.2);}
    .lnb .lnb_topbox .right_area .right:last-child:before{display: none}
    .lnb .lnb_topbox .right_area .member{position:relative;width: 100%;height: 100%;}
    .lnb .lnb_topbox .right_area .member:before{display: block;position:absolute;top:0;left:0;bottom:0;right:0;margin:auto;background: url('../../public/images/common/icons_m.png') no-repeat 0 0;width: 21px;height: 22px;}
    .lnb .lnb_topbox .right_area .lang_btn{position:relative;width: 100%;height: 100%;}
    .lnb .lnb_topbox .right_area .lang_btn:before{display: block;position:absolute;top:0;left:0;bottom:0;right:0;margin:auto;background: url('../../public/images/common/icons_m.png') no-repeat -29px 0;width: 21px;height: 22px;}
    .lnb .lnb_topbox .family_box{position: absolute;bottom:0;left:20px;width: 320px;height: 60px;padding:18px 15px;background-color: #fff;border-radius: 20px;box-shadow: 0px 5px 25px 0px rgba(15, 20, 38, 0.1);text-align: center;}
    .lnb .lnb_topbox .family_box .item{display: inline-block;font-size: 16px;line-height:16px;font-weight: 500;color:#757b8e;}
    .lnb .lnb_topbox .family_box .link1 img{margin-top: 4px}
    .lnb .lnb_topbox .family_box .link2{position:relative;padding-left: 30px;}
    .lnb .lnb_topbox .family_box .link2:before{display: block;position: absolute;top:calc(50% - 2px);left:13px;width: 4px;height: 4px;border-radius: 50%;background-color: #d4d6dc;}

    .lnb .menu{height: calc(100% - 140px);}
    .lnb .menu .depth1{width: 100%;margin-left: 10px;}
    .lnb .menu .depth1_list{padding: 0;}
    .lnb .menu .depth1_item{float:none!important;height: 40px;}
    .lnb .menu .depth1_item.active .depth1_text:before{z-index:-1;display: block;position: absolute;top:0;left:0;width: 124px;height: 40px;border-radius: 30px;background: linear-gradient(145deg, rgba(34,182,157,1) 0%,rgba(66,101,207,1) 100%);box-shadow: 12px 9px 40px 0px rgba(24, 36, 70, 0.15);}
    .lnb .menu .depth1_item.active .depth1_text > span{color:#fff;}
    .lnb .menu .depth1_text{z-index:1;width:124px;margin:0;padding: 0 0 0 18px;}
    .lnb .menu .depth1_item:first-child{margin-top: 40px;}
    /*.lnb .menu .depth1_item .depth1_text{margin-bottom: 10px;}*/
    .lnb .menu .depth1_text > span{font-size: 15px;line-height: 40px;font-weight:500;color:#4a4f66;}

    .lnb .menu .depth2 .depth2_list{padding:25px 20px 25px 25px}
    .lnb .menu .depth2 .depth2_item{float: none!important;margin-right: 0;width: 100%;}
    .lnb .menu .depth2 .depth2_item .depth2_text{display: block;border-bottom: 1px solid #d5d7dd;}
    .lnb .menu .depth2 .depth2_item.active .depth2_text{border-bottom-color: #3f65d9;}
    .lnb .menu .depth2 .depth2_item.has .depth2_text:before{display: block;position: absolute;top:calc(50% - 4px);right:3px;background: url('../../public/images/common/icons_m.png') no-repeat -76px -34px;width: 13px;height: 8px;}
    .lnb .menu .depth2 .depth2_text[target='_blank']:before{right: 1px;}
    .lnb .menu .depth2 .depth2_item.has.active .depth2_text:before{background-position: -1px -34px;}
    .lnb .menu .depth2 .depth2_item .depth2_text > span{font-size: 15px;line-height: 40px;font-weight: 500;color: #252b32;}
    .lnb .menu .depth2 .depth2_item.active .depth2_text > span{color:#3f65d9;}

    .header_bottom .bot_list .sitemap{display: none;}
    .header_bottom .bot_list{right: 50px;}
    .header_bottom .bot_list .bot_item{margin-left: 0;}

    .lnb .menu_hide{position: absolute;top:27px;right:20px;width: 15px;height: 16px;font-size: 0;}
    .lnb .menu_hide .menu_button{width: 100%;height: 100%;vertical-align: top;}
    .lnb .menu_hide .menu_button:before{display: block;position:absolute;top:0;left:0;bottom:0;right:0;margin:auto;background: url('../../public/images/common/icons_m.png') no-repeat -61px -1px;width: 15px;height: 16px;}

    .lnb_show .lnb_curtain{opacity:1;display:block;z-index: 72}
    .lnb_curtain button{display: block;width: 100%;height: 100%;border: none;margin: 0;padding: 0;color:transparent;font-size: 0;}

    #header .lnb .depth2{top:-25px;right: 10px;bottom:auto;left:auto;width: calc(100% - 123px);background-color: #fff;border-top-left-radius: 20px;box-shadow: 0px 5px 25px 0px rgba(15, 20, 38, 0.1);}
    #header .lnb .depth1_item.active .depth2{visibility: visible;opacity: 1;transform: translateX(0);overflow-x: hidden;overflow-y: auto;}
    .lnb .depth2 .menu_title{display: none;}

    .lnb .depth3 .depth3_list{margin: 0;}

    #header .lnb .depth2_item.active .depth3{visibility: visible;opacity: 1;}
    #header .lnb .depth2_item.active .depth3 .depth3_list{padding: 20px 0;border-bottom: 1px solid #d5d7dd;}
    #header .lnb .depth2_item.active .depth3 .depth3_item{float:none;display: block;}
    #header .lnb .depth2_item.active .depth3 .depth3_text{display: block;padding-left: 17px;padding-right: 20px;}
    #header .lnb .depth2_item.active .depth3 .depth3_text:before{display: block;position: absolute;top:calc(50% - 2px);left:0;width: 5px;height: 5px;border-radius: 50%;background-color:#d5d7dd;}
    #header .lnb .depth2_item.active .depth3 .depth3_item.has .depth3_text:after{display: block;position: absolute;top:calc(50% - 3px);right:4px;background: url('../../public/images/common/icons_m.png') no-repeat -26px -35px;width: 11px;height: 7px;}
    #header .lnb .depth2_item.active .depth3 .depth3_text[target="_blank"]:after{display: block;position: absolute;top:calc(50% - 7px);right:4px;background: url('../../public/images/common/icons_m.png') no-repeat 0 -52px;width: 14px;height: 14px;}
    #header .lnb .depth2_item.active .depth3 .depth3_text > span{font-size: 15px;line-height: 28px;color:#757b8e;}
    .lnb .depth3 .depth3_text:hover > span{text-decoration:none;}
    #header .lnb .depth3 .depth3_item.active .depth3_text:before{background-color: #3f65d9;}
    #header .lnb .depth2_item.active .depth3 .depth3_item.has.active .depth3_text:after{background-position: -52px -34px;}
    #header .lnb .depth3 .depth3_item.active .depth3_text > span{color:#26293d;}

    #header .lnb .depth2_item.active .depth3_item.active .depth4{visibility: visible;opacity: 1;margin-top:15px;margin-bottom: 10px;}
    #header .lnb .depth2_item.active .depth3_item.active .depth4_list{padding: 20px 17px;background-color:#f8f8fb;border-radius: 10px;}
    #header .lnb .depth2_item.active .depth3_item.active .depth4_item{float: none;display: block;}
    #header .lnb .depth2_item.active .depth3_item.active .depth4_text{display: block;padding-left: 15px;}
    #header .lnb .depth2_item.active .depth3_item.active .depth4_text:before{display: block;position: absolute;top:calc(50% - 1px);left:0;width: 3px;height: 3px;border-radius: 50%;background-color:#b9b9c2;}
    #header .lnb .depth2_item.active .depth3_item.active .depth4_text > span{font-size: 15px;line-height: 28px;font-weight: 300;color:#757b8e;}
    #header .lnb .depth2_item.active .depth3_item.active .depth4_text:hover:before{background-color: #26293d;}
    #header .lnb .depth2_item.active .depth3_item.active .depth4_text:hover > span{color:#252b32;text-decoration:underline;text-underline-position: under;}

    .search_box{top:80px;}
    .search_box:before{top:80px;}
    .search_box .search_area{width: 420px;padding: 50px 0;}
    .search_box .search_area .search_wrap{padding-right: 20px;}
    .search_box .search_area .search_wrap .search_bar{overflow:visible;height: 50px;border-radius: 30px;border-width: 2px;}
    .search_box .search_area .search_wrap .search_bar:before{left:22px;transform: scale(0.8);transform-origin: bottom left;}
    .search_box .search_area .search_wrap .search_bar .search_query{padding: 10px 30px 10px 82px;font-size: 18px;line-height: 26px;border-radius: 30px;}
    .search_box .search_area .search_wrap .search_submit{width: 48px;height: 48px;top:2px;right:0;}
    .search_box .search_area .search_wrap .search_submit input{background: url('../../public/images/common/search_btn_t.png') no-repeat;}
    .search_box .search_area .popular_search{margin: 12px 0 0 15px}
    .search_box .search_area .popular_search .title{font-size: 14px;}
    .search_box .search_area .popular_search .list{width: calc(100% - 145px);padding-left: 10px;}
    .search_box .search_area .popular_search .list:before{display: none;}
    .search_box .search_area .popular_search .item > a{font-size: 14px;}
    .search_box .search_close{width: 40px;height: 40px;bottom:-20px;}
    .search_box .search_close .c_btn:before{transform: scale(0.7)}

    .lnb .lnb_topbox .right_area .language_box .lang_layer{z-index:40;display: none;position: absolute;top:33px;right:-55px;background-color: #fff;width: 145px;border: 1px solid #e2e3e8;border-radius: 10px;padding: 15px 20px 15px 15px;box-shadow: 8px 6px 20px 0px rgba(32, 54, 121, 0.07);}
    .lnb .lnb_topbox .right_area .language_box .lang_layer .lang_link{position:relative;padding-left:20px;font-size: 15px;line-height: 30px;color:#757b8e;}
    .lnb .lnb_topbox .right_area .language_box .lang_layer .lang_item.active .lang_link{color:#26293d;}
    .lnb .lnb_topbox .right_area .language_box .lang_layer .lang_item .lang_link:hover{color:#26293d;}
    .lnb .lnb_topbox .right_area .language_box .lang_layer .lang_link:before{opacity:0;display:block;position: absolute;top:calc(50% - 4px);left:0;background: url('../../public/images/common/btn_icons.png') no-repeat -216px -4px;width: 13px;height: 9px;transition: opacity 250ms ease-in-out;}
    .lnb .lnb_topbox .right_area .language_box .lang_layer .lang_item.active .lang_link:before{opacity: 1}
    .lnb .lnb_topbox .right_area .language_box .lang_layer .lang_item .lang_link:hover:before{opacity: 1}
    .lnb .lnb_topbox .right_area .language_box .lang_layer .lang_close{position: absolute;top:10px;right:10px;width: 21px;height: 21px;background: url('../../public/images/common/btn_icons.png') no-repeat -163px -1px;}


    .family_layer .inner{width: 94%;border-radius: 80px 20px 20px 20px;margin-top: 160px;}
    .family_layer .inner:before{top:-103px;transform: scale(0.47)}
    .family_layer .inner .family_close{width: 40px;height: 40px;top:-20px;right: 30px}
    .family_layer .inner .family_close > button:before{transform: scale(0.9);width: 16px;}
    .family_layer .inner .title_area{padding: 20px 0;}
    .family_layer .inner .family_area{border-radius: 0 0 20px 20px;}
    .family_layer .inner .family_area:before{background: url('../../public/images/common/family_icon2_t.png') no-repeat;width: 180px;height: 168px;top:-12px;left:30px;}
    .family_layer .inner .family_area:after{background: url('../../public/images/common/family_icon3_t.png') no-repeat;width: 198px;height: 197px;top:-59px;right:6px;}
    .family_layer .inner .title_area .sub_title{font-size: 14px;line-height: 20px;}
    .family_layer .inner .title_area .title{font-size: 24px;line-height: 34px;}
}
@media all and (max-width:800px){
    .family_layer .inner .family_area .family_item .family_list .link_item{width: calc(33.333% - 3px)}
}
@media all and (max-width:640px){
    #header{height: 55px;}
    #header .logo{top:15px;}
    #header .logo .image{width: 72px;height: 24px;background-size: 72px 24px;}
    #header .logo .text{font-size: 16px;line-height: 24px;margin-left: 4px;}
    #header .menu_show{top:15px;}
    #header .menu_show .menu_button:before{transform: scale(0.9)}
    .header_bottom .bot_list{top:13px;right: 37px}

    .search_box{top:55px;}
    .search_box:before{top:55px;}
    .search_box .search_area{width: 295px;padding: 35px 0;}
    .search_box .search_area .search_wrap .search_bar{height: 40px;}

    .search_box .search_area .search_wrap{padding-right: 15px;}
    .search_box .search_area .search_wrap .search_bar:before{left: 15px;transform: scale(0.65);}
    .search_box .search_area .search_wrap .search_bar .search_query{padding: 8px 25px 8px 60px;font-size: 14px;line-height: 20px;}
    .search_box .search_area .search_wrap .search_submit{width: 40px;height: 39px;top:1px;right:-1px;}
    .search_box .search_area .search_wrap .search_submit input{background: url('../../public/images/common/search_btn_m.png') no-repeat;}
    .search_box .search_area .popular_search{margin: 6px 0 0 0;}
    .search_box .search_area .popular_search .title{font-size: 12px;line-height: 20px;padding-left: 22px;}
    .search_box .search_area .popular_search .title:before{transform: scale(0.9);transform-origin: left;}
    .search_box .search_area .popular_search .list{width: calc(100% - 106px);}
    .search_box .search_area .popular_search .item > a{font-size: 12px;line-height: 20px}

    .family_layer .inner{border-radius: 35px 10px 10px 10px;margin-top: 105px;}
    .family_layer .inner:before{top:-92px;transform: scale(0.28)}
    .family_layer .inner .family_close{width: 26px;height: 26px;top:-13px;right: 15px}
    .family_layer .inner .family_close > button:before{transform: scale(0.6);width: 17px;}
    .family_layer .inner .title_area{padding: 13px 0;}
    .family_layer .inner .title_area .sub_title{display: none;}
    .family_layer .inner .title_area .title{font-size: 16px;line-height: 24px;}
    .family_layer .inner .family_area{padding: 3px 10px 12px;border-radius: 0 0 10px 10px;}
    .family_layer .inner .family_area:before{background: url('../../public/images/common/family_icon2_m.png') no-repeat;width: 78px;height: 73px;top:-11px;left:15px;}
    .family_layer .inner .family_area:after{background: url('../../public/images/common/family_icon3_m.png') no-repeat;width: 86px;height: 85px;top:-26px;right:2px;}
    .family_layer .inner .family_area .family_item{margin-bottom: 2px;}
    .family_layer .inner .family_area .family_item .tit{font-size: 15px;line-height: 35px;}
    .family_layer .inner .family_area .family_item .family_list{padding: 15px 23px;}
    .family_layer .inner .family_area .family_item .family_list .link_item{width: calc(50% - 3px)}
}

/*푸터영역*/
#footer{position:relative;border-top:1px solid #d5d7dd;background-color:#fff;}
#footer .footer_box{display:inline-block;padding: 58px 0 35px;border-bottom:1px solid #d5d7dd;}
#footer .footer_box .footer_logo{vertical-align: top;margin-right: 70px;}
#footer .footer_box .link_list{display: inline-block;}
#footer .footer_box .link_list .link_item{display: inline-block;position:relative;margin-right: 22px;padding-left: 26px}
#footer .footer_box .link_list .link_item:before{display: block;position: absolute;top:calc(50% - 2px);left:0;background-color: #d5d7dd;border-radius: 50%;width: 5px;height: 5px;}
#footer .footer_box .link_list .link_item:first-child{padding-left: 0}
#footer .footer_box .link_list .link_item:first-child:before{display: none;}
#footer .footer_box .link_list .link_item:last-child{margin-right: 0;}
#footer .footer_box .link_list .link_item > a{font-size: 16px;line-height: 28px;color:#26293d;font-weight: 500;text-decoration:none; }
#footer .footer_box .link_list .link_item.policy > a{color:#3f65d9;}

#footer .footer_info{padding: 33px 0 125px;}
#footer .footer_info .info_item{display: inline-block;margin-right: 25px;margin-bottom:12px;font-size: 16px;line-height: 28px;color:#26293d;}
#footer .footer_info .footer_copyright{font-size: 15px;line-height: 28px;color:#757b8e;}
#footer .up{position: absolute;top: 60px;right: 60px;}
#footer .up .up_button{width: 70px;height: 70px;border-radius: 50%;background-color: #fff;border:1px solid #dfe0e5;box-shadow: 0px 10px 60px 0px rgba(98, 38, 53, 0.08);}
#footer .up .up_button.active{visibility: visible;opacity: 1;}
#footer .up .up_button:before{display: block;position: absolute;top:0;left:0;right:0;bottom:0;margin:auto;background: url('../../public/images/common/arrows_btn.png') no-repeat -82px -4px;width: 18px;height: 18px;}

@media all and (max-width:1400px){
    #footer .footer_box .footer_logo{margin-right: 0;margin-bottom: 28px;}
}
@media all and (max-width:1000px){
    #footer .footer_box{padding: 55px 0 30px;}
    #footer .footer_box .footer_logo{width: 82px;}
    #footer .footer_box .link_list{display: block;}
    #footer .footer_box .link_list .link_item{margin-right: 10px;padding-left: 20px;}
    #footer .footer_box .link_list .link_item > a{font-size: 14px;}
    #footer .footer_info{padding: 7px 0 45px;}
    #footer .footer_info .info_list{margin-bottom: 30px;}
    #footer .footer_info .info_item{margin-right: 20px;margin-bottom: 0;font-size: 14px;line-height: 24px;}
    #footer .footer_info .footer_copyright{font-size: 14px;line-height: 24px;}
    #footer .up{top:30px;right: 3%;}
    #footer .up .up_button{width: 50px;height: 50px;}
    #footer .up .up_button:before{transform: scale(0.8);transform-origin: center;}
}
@media all and (max-width:640px){
    #footer .footer_box{padding: 30px 0 10px;}
    #footer .footer_box .footer_logo{width: 63px;margin-bottom: 20px;}
    #footer .footer_box .link_list .link_item{margin-right: 4px;padding-left: 14px;}
    #footer .footer_box .link_list .link_item:before{top:11px;}
    #footer .footer_box .link_list .link_item > a{font-size: 12px;line-height: 20px;}
    #footer .footer_info .info_list{margin-bottom: 12px;}
    #footer .footer_info .info_item{margin-right: 18px;font-size: 12px;line-height: 20px;}
    #footer .footer_info .footer_copyright{font-size: 12px;line-height: 23px;}
    #footer .up{top:15px}
    #footer .up .up_button{width: 36px;height: 36px;}
    #footer .up .up_button:before{transform: scale(0.8);transform-origin: center;}
}