@charset "UTF-8";



.section{
    padding: 0 20px;
}
#main-logo{
    width: 150px;
}
#main-menu{
    gap: 20px;
}
#main-menu li a{
    font-size: 14px;
}


/* contents */

/* inner */

.category .inner{
    display: block;
    overflow-x: auto;
}



/* banner */

.banner-title{
    padding: 60px 0;
    font-size: 20px;
}


/* event */
.event-wrap .inner{
    gap: 40px;
}
.event-tab{
    padding-top: 40px;
}
.event-tab li a{
    height: 50px;
    font-size: 16px;
    line-height: 50px;
}
.event{
    flex-direction: column;
    gap: 40px;
}
.event-contents{
    width: 100%;
}
.event-contents-title{
    min-height: auto;
}

.page-wrap{
    padding-bottom: 60px;
}





.footer-logo{
    display: none;
}