@charset "UTF-8";



.section{
    padding: 0 20px;
}
#main-logo{
    width: 150px;
}
#main-menu{
    gap: 20px;
}
#main-menu li a{
    font-size: 14px;
}


/* contents */

/* inner */

.category .inner{
    display: block;
    overflow-x: auto;
}



/* banner */

.banner-title{
    padding: 60px 0;
    font-size: 20px;
}



/* category */

.category{
    padding: 40px 20px;
}
.category-contents{
    width: 100%;
}



/* food */

.food-title-kr{
    white-space: unset;
    text-align: center;
}
.food-title-en{
    display: none;
}
.food-price-top, .food-price-bot{
    width: 90%;
    margin: 0 auto;
}
.food-contents{
    gap: 10%;
}
.food-contents li{
    width: 45%;
}
.food-text{
    height: 86px;
    word-break: keep-all;
    text-align: center;
    letter-spacing: -.5px;
}
.concretes-info img{
    width: 70px;
}



/* table */

.store-info-bg a{
    height: 55%;
    overflow-y: auto;
    padding: 0 20px;
}
table{
    width: 50%;
}
th{
    font-size: 14px;
}
td{
    padding: 3px 0 3px 5px;
}
.close{
    font-size: 18px;
}



.footer-logo{
    display: none;
}