@charset "UTF-8";






header.section{
    padding: 0 20px;
}
#main-logo{
    width: 150px;
}
#main-menu{
    gap: 20px;
}
#main-menu li a{
    font-size: 14px;
}



.slide-contents{
    display: flex !important;
    justify-content: center;
    overflow: hidden;
}
.slide-img{
    width: 125%;
}


.category{
    padding: 40px 20px;
}
.title{
    font-size: 24px;
    margin-bottom: 10px;
}
.category-contents{
    height: 85px;
    gap: 2%;
}
.category-contents li a{
    padding: 0 10px;
    font-size: 14px;
    text-align: center;
}


.quick-menu{
    padding: 40px 20px;
}
.quick-menu .inner{
    width: 100%;
}
.quick-menu-contents{
    height: auto;
    align-items: center;
    gap: 2%;
}
.quick-menu-contents li a{
    padding: 20px 10px;
    justify-content: center;
    text-align: center;
}
.quick-menu-text{
    font-size: 14px;
}
.quick-menu-button{
    margin: 0 auto;
}


.brand-story{
    display: none;
}



.social{
    padding: 40px 20px;
}
.social .inner{
    width: 100%;
    flex-direction: column;
}
.youtube{
    width: 100%;
    height: 400px;
}
.social-right{
    width: 100%;
    padding: 0 20px;
}
.social-sns-contents{
    gap: 20px;
}



.footer-logo{
    display: none;
}