@charset "UTF-8";


@font-face {
    font-family: 'NeutraTextTF-Demi';
    src: url('../fonts/NeutraTextTF-Demi.otf') format('truetype');
}
@font-face {
    font-family: 'NeutraTextTF-Bold';
    src: url('../fonts/NeutraTextTF-Bold.otf') format('truetype');
}
@font-face {
    font-family: 'NotoSansKR-Regular';
    src: url('../fonts/NotoSansKR-Regular.otf') format('truetype');
}
@font-face {
    font-family: 'NotoSansKR-Bold';
    src: url('../fonts/NotoSansKR-Bold.otf') format('truetype');
}




/* reset */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a, p, span, h1, h2, h3, h4, h5, h6{
    text-decoration: none;
    color: #131313;
    /* word-break: keep-all; */
}
html{
    overflow-x: hidden;
    font-family: 'NotoSansKR-Regular';
}
body{
    min-width: 320px;
}
.section{
    width: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
}
.title{
    font-size: 32px;
    font-family: "NeutraTextTF-Bold";
    text-transform: uppercase;
    margin-bottom: 40px;
}



/* header */

/* header-frame */

header{
    height: 90px;
    background-color: #2b2b2b;
}
header nav{
    justify-content: space-between;
}



/* header-contents */

#main-logo{
    width: 250px;
}
#main-menu{
    display: flex;
    gap: 60px;
}
#main-menu li a{
    font-size: 18px;
    font-family: 'NeutraTextTF-Bold';
    color: #fff;
    text-transform: uppercase;
}



/* header-mobile-menu */

#burger_menu{
    display: none;
}
#burger_menu{
    width: 30px;
    height: 20px;
    display: none;
    position: relative
}
#burger_menu div{
    width: 30px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    transition: .3s ease-out;
}
#burger_menu div:nth-child(1){
    top: 0;
}
#burger_menu.on div:nth-child(1){
    top: 9px;
    transform: rotateZ(45deg);
}
#burger_menu div:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
}
#burger_menu.on div:nth-child(2){
    opacity: 0;;
}
#burger_menu div:nth-child(3){
    bottom: 0;
}
#burger_menu.on div:nth-child(3){
    bottom: 9px;
    transform: rotateZ(-45deg);
}
#mobile-main_menu{
    display: none;
    width: 100%;
    height: 50px;
    background-color: #2b2b2b;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 3;
    padding: 0 20px;
}
#mobile-main_menu ul{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#mobile-main_menu ul a{
    font-size: 14px;
    font-family: 'Neutra Text TF';
    font-weight: bold;
    color: #fff;
}



/* banner */

/* banner-frame */

.banner{
    background-image: url("../img/shakeshack-foodndrink-banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.banner::before{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: rgba(0, 0, 0, .2);
}
.banner-title{
    padding: 120px 0;
    font-size: 32px;
    font-family: "NotoSansKR-Bold";
    color: #fff;
    z-index: 1;
    text-shadow: 0 0 25px rgba(0, 0, 0, .55);
}



/* event */

/* event-frame */

.event-wrap{
    padding: 120px 40px;
}
.event-wrap .inner{
    flex-direction: column;
    gap: 120px;
}





/* event-tab */

.event-tab{
    width: 100%;
    display: flex;
}
.event-tab li{
    width: 33.33333%;
    background-color: #ccc;
    text-align: center;
    border: 2px solid #fff;
}



/* event-tab-text */

.event-tab li a{
    width: 100%;
    height: 60px;
    font-size: 20px;
    font-family: 'NotoSansKR-Bold';
    color: #fff;
    line-height: 60px;
    display: block;
}



/* event-tab-on */

.event-tab li.on{
    background-color: #6EB43F;
}



/* event */

.event{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
}
.event-contents{
    width: 48.5%;
}
.event-contents a{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}



/* event-img */

.event-contents-img{
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.event-contents-img img{
    width: 100%;
    height: 100%;
}



/* event-text */

.event-conents-text-wrap{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.event-contents-title{
    font-size: 20px;
    letter-spacing: -1px;
}
.event-contents-sub{
    font-size: 16px;
    color: #aaa;
}
.event-contents-none{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: #aaa;
}



/* page */

.page-wrap{
    width: 100%;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.prev-page,
.next-page{
    width: 14px;
    cursor: pointer;
}
.prev-page img,
.next-page img{
    width: 100%;
    opacity: .35;
}
.page li a{
    font-family: 'NotoSansKR-Bold';
    display: block;
    transform: translateY(-2px);
}


/* footer */

/* footer-frame */

footer{
    background-color: #2b2b2b;
}
footer .inner{
    flex-direction: column;
}
.footer-top{
    width: 100%;
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
}
.footer-top-contents{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-top-menu{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.footer-bot{
    width: 100%;
    padding: 30px 0 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    position: relative;
}



/* footer-contents */

.footer-logo{
    width: 250px;
    height: fit-content;
    opacity: .5;
    transform: translateY(50%);
}
.footer-top-contents-title{
    font-size: 18px;
    color: #999;
}
.footer-top-menu li a{
    font-size: 12px;
    color: #999;
}
.footer-line{
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 0;
    opacity: .15;
}
.footer-bot p{
    font-size: 12px;
    color: #999;
}
