@charset "UTF-8";


@font-face {
    font-family: 'NeutraTextTF-Demi';
    src: url('../fonts/NeutraTextTF-Demi.otf') format('truetype');
}
@font-face {
    font-family: 'NeutraTextTF-Bold';
    src: url('../fonts/NeutraTextTF-Bold.otf') format('truetype');
}
@font-face {
    font-family: 'NotoSansKR-Regular';
    src: url('../fonts/NotoSansKR-Regular.otf') format('truetype');
}
@font-face {
    font-family: 'NotoSansKR-Bold';
    src: url('../fonts/NotoSansKR-Bold.otf') format('truetype');
}




/* reset */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a, p, span, h1, h2, h3, h4, h5, h6{
    text-decoration: none;
    color: #131313;
    word-break: keep-all;
}
html{
    overflow-x: hidden;
    font-family: 'NotoSansKR-Regular';
}
body{
    min-width: 320px;
}
.section{
    width: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
}
.title{
    font-size: 32px;
    font-family: "NeutraTextTF-Bold";
    text-transform: uppercase;
    margin-bottom: 40px;
}



/* header */

/* header-frame */

header{
    height: 90px;
    background-color: #2b2b2b;
}
header nav{
    justify-content: space-between;
}



/* header-contents */

#main-logo{
    width: 250px;
}
#main-menu{
    display: flex;
    gap: 60px;
}
#main-menu li a{
    font-size: 18px;
    font-family: 'NeutraTextTF-Bold';
    color: #fff;
    text-transform: uppercase;
}



/* header-mobile-menu */

#burger_menu{
    display: none;
}
#burger_menu{
    width: 30px;
    height: 20px;
    display: none;
    position: relative
}
#burger_menu div{
    width: 30px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    transition: .3s ease-out;
}
#burger_menu div:nth-child(1){
    top: 0;
}
#burger_menu.on div:nth-child(1){
    top: 9px;
    transform: rotateZ(45deg);
}
#burger_menu div:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
}
#burger_menu.on div:nth-child(2){
    opacity: 0;;
}
#burger_menu div:nth-child(3){
    bottom: 0;
}
#burger_menu.on div:nth-child(3){
    bottom: 9px;
    transform: rotateZ(-45deg);
}
#mobile-main_menu{
    display: none;
    width: 100%;
    height: 50px;
    background-color: #2b2b2b;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 3;
    padding: 0 20px;
}
#mobile-main_menu ul{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#mobile-main_menu ul a{
    font-size: 14px;
    font-family: 'Neutra Text TF';
    font-weight: bold;
    color: #fff;
}



/* slide */

/* slide-frame */

.slide{
    height: auto;
    background-color: #000;
}
.slide .slide-contents{
    width: 100%;
}




/* slide-contents */

.slide-img{
    width: 100%;
}



/* category */

/* category-frame */

.category{
    padding: 100px 40px;
    display: flex;
    justify-content: center;
}
.mobile-box{
    width: 100%;
    display: flex;
    justify-content: center;
}
.category .inner{
    flex-direction: column;
    gap: 20px;
}
.category-contents{
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.category-contents li{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
    overflow: hidden;
    transition: .3s ease-out;
    box-shadow: 0 4px 14px rgba(0, 0, 0, .25);
}



/* category-contents */

.category-title::before{
    content: "shake shack ";
    color: #6EB43F;
}
.category-top li:nth-child(1){
    background-image: url('../img/shakeshack-index-category-01.jpg');
}
.category-top li:nth-child(2){
    background-image: url('../img/shakeshack-index-category-02.jpg');
}
.category-top li:nth-child(3){
    background-image: url('../img/shakeshack-index-category-03.jpg');
}
.category-top li:nth-child(4){
    background-image: url('../img/shakeshack-index-category-04.jpg');
}
.category-top li:nth-child(5){
    background-image: url('../img/shakeshack-index-category-05.jpg');
}
.category-bot li:nth-child(1){
    background-image: url('../img/shakeshack-index-category-06.jpg');
}
.category-bot li:nth-child(2){
    background-image: url('../img/shakeshack-index-category-07.jpg');
}
.category-bot li:nth-child(3){
    background-image: url('../img/shakeshack-index-category-08.jpg');
}
.category-bot li:nth-child(4){
    background-image: url('../img/shakeshack-index-category-09.jpg');
}
.category-bot li:nth-child(5){
    background-image: url('../img/shakeshack-index-category-10.jpg');
}
.category-contents li a{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .45);
    font-size: 24px;
    font-family: "NotoSansKR-Bold";
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-out;
}



/* category-hover */

.category-contents li:hover{
    background-size: 140%;
}
.category-contents li:hover a{
    background-color: rgba(0, 0, 0, .15);
    color: rgba(255, 255, 255, .45);
}



/* quick-menu */

/* quick-menu-frame */

.quick-menu{
    padding: 100px 40px;
    background-color: #C2DAA7;
}
.quick-menu-contents{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.quick-menu-contents li{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 14px rgba(110, 180, 63, 0.45);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.quick-menu-contents li a{
    width: 100%;
    height: 100%;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}



/* quick-menu-contents */

.quick-menu-contents li:nth-child(1){
    background-image: url("../img/shakeshack_quickmenu_bg_01.png");
}
.quick-menu-contents li:nth-child(2){
    background-image: url("../img/shakeshack_quickmenu_bg_02.png");
}
.quick-menu-contents li:nth-child(3){
    background-image: url("../img/shakeshack_quickmenu_bg_03.png");
}
.quick-menu-point{
    font-size: 12px;
    text-transform: uppercase;
}
.quick-menu-text{
    font-size: 18px;
    font-family: "NotoSansKR-Bold";
    margin: 20px 0 30px;
}
.quick-menu-button{
    width: 120px;
    height: 30px;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, .15);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: .3s ease-out;
}
.quick-menu-button p{
    font-size: 12px;
    line-height: 10px;
    transition: .3s ease-out;
}
.quick-menu-button svg{
    width: 15px;
}



/* quick-menu-hover */

.quick-menu-contents li:hover .quick-menu-button{
    background-color: #131313;
}
.quick-menu-contents li:hover .quick-menu-button p{
    color: #fff;
}
.quick-menu-contents li:hover .quick-menu-button svg{
    fill: #fff;
}



/* brand-story */

/* brand-story-frame */

.brand-story{
    padding: 100px 40px;
}
.brand-story-slick{
    width: 100%;
}
.brand-story-title{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 40px;
}
.brand-story-contents ul{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 3%;
}
.brand-story-contents ul li{
    width: 100%;
    padding: 15px 30px;
    border: 1px solid #ccc;
    border-radius: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


/* brand-story-contents */

.brand-story-title-En{
    font-size: 28px;
    font-family: "NeutraTextTF-Bold";
    color: #6EB43F;
}
.brand-story-title-Kr{
    font-size: 16px;
    font-family: "NotoSansKR-Bold";
}
.brand-story-img{
    width: fit-content;
}
.brand-story-text{
    font-size: 14px;
    color: #555;
}



/* social */

/* social-frame */

.social{
    padding: 100px 40px;
}
.social .inner{
    justify-content: space-between;
    gap: 40px;
}
.social-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.social-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.social-sns{
    width: 100%;
    text-align: center;
}
.social-sns-contents{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.social-sns-contents li{
    width: 100%;
    text-align: center;
}
.social-sns-contents li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}




/* social-contents */

.youtube{
    width: 50%;
    height: 310px;
    background-image: url('../img/shakeshack_index_youtube-thumnail.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}
.social-text span{
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.social-text p{
    font-size: 14px;
    color: #777;
}
.sns-title-line{
    width: 100%;
    height: 1px;
    background-color: #ddd;
}
.sns-title{
    font-size: 14px;
    font-weight: bold;
    color: #6EB43F;
    padding: 0 10px;
    background-color: #fff;
    transform: translateY(-50%);
    display: inline-block;
}
.social-sns-contents img{
    width: fit-content;
}
.social-sns-contents span{
    font-size: 12px;
    font-family: "NotoSansKR-Bold";
    color: #6EB43F;
}
.social-sns-contents p{
    font-size: 10px;
    color: #555;
}



/* footer */

/* footer-frame */

footer{
    background-color: #2b2b2b;
}
footer .inner{
    flex-direction: column;
}
.footer-top{
    width: 100%;
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
}
.footer-top-contents{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-top-menu{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.footer-bot{
    width: 100%;
    padding: 30px 0 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    position: relative;
}



/* footer-contents */

.footer-logo{
    width: 250px;
    height: fit-content;
    opacity: .5;
    transform: translateY(50%);
}
.footer-top-contents-title{
    font-size: 18px;
    color: #999;
}
.footer-top-menu li a{
    font-size: 12px;
    color: #999;
}
.footer-line{
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 0;
    opacity: .15;
}
.footer-bot p{
    font-size: 12px;
    color: #999;
}