@charset "UTF-8";

/* 본고딕 NotoKR */

@font-face{
	font-family:'NotoKr';
	font-weight: 200;
	src:url("../font/NotoSansKR-Light.woff2") format('woff2'),
	url("../font/NotoSansKR-Light.woff") format('woff');
}

@font-face{
	font-family:'NotoKr';
	font-weight: 100;
	src:url("../font/NotoSansKR-Thin.woff2") format('woff2'),
	url("../font/NotoSansKR-Thin.woff") format('woff');
}

@font-face{
	font-family:'NotoKr';
	font-weight: 400;
	src:url("../font/SpoqaHanSans-Regular.woff2") format('woff2'),
	url("../font/SpoqaHanSans-Regular.woff") format('woff');
}
@font-face{
	font-family:'NotoKr';
	font-weight: 600;
	src:url("../font/SpoqaHanSans-Bold.woff2") format('woff2'),
	url("../font/SpoqaHanSans-Bold.woff") format('woff');
}

/* Opensans */
@font-face{
	font-family:'Opensans';
	font-weight: 400;
	src: url("../font/OpensansR.woff2") format('woff2'),
	url("../font/OpensansR.woff") format('woff');
}

@font-face{
	font-family:'Opensans';
	font-weight: 600;
	src: url("../font/OpensansB.woff2") format('woff2'),
		url("../font/OpensansB.woff") format('woff');
}

