@charset "UTF-8";

/* 본고딕 */
@font-face{
	font-family: 'NotoKr';
	font-weight: 200;
	src: url("../font/noto-sans-kr-v13-latin_korean-300.woff2") format('woff2'),
	url("../font/noto-sans-kr-v13-latin_korean-300.woff") format('woff');
}
@font-face{
	font-family: 'NotoKr';
	font-weight: 400;
	src: url("../font/noto-sans-kr-v13-latin_korean-regular.woff2") format('woff2'),
	url("../font/noto-sans-kr-v13-latin_korean-regular.woff") format('woff');
}
@font-face{
	font-family: 'NotoKr';
	font-weight: 500;
	src: url("../font/noto-sans-kr-v13-latin_korean-500.woff2") format('woff2'),
	url("../font/noto-sans-kr-v13-latin_korean-500.woff") format('woff');
}
@font-face{
	font-family: 'NotoKr';
	font-weight: 600;
	src: url("../font/noto-sans-kr-v13-latin_korean-700.woff2") format('woff2'),
	url("../font/noto-sans-kr-v13-latin_korean-700.woff") format('woff');
}

/* S-CoreDream */
@font-face {
  font-family: 'SCoreDream';
  font-weight: 200;
  src: url("../font/S-CoreDream-2ExtraLight.woff") format('woff');
}
@font-face {
  font-family: 'SCoreDream';
  font-weight: 400;
  src: url("../font/S-CoreDream-4Regular.woff") format('woff');
}
@font-face {
  font-family: 'SCoreDream';
  font-weight: 600;
  src: url("../font/S-CoreDream-6Bold.woff") format('woff');
}
@font-face {
	font-family: 'SCoreDream';
	font-weight: 800;
	src: url("../font/S-CoreDream-8Heavy.woff") format('woff');
}
