@charset "utf-8";

/* WantedSans */
@font-face{
    font-family:'WantedSans';
    font-weight:900;
    src:url("../font/WantedSans-ExtraBlack.woff") format('woff');
}
@font-face{
    font-family:'WantedSans';
    font-weight:700;
    src:url("../font/WantedSans-SemiBold.woff") format('woff');
}
@font-face{
    font-family:'WantedSans';
    font-weight:600;
    src:url("../font/WantedSans-Bold.woff") format('woff');
}
@font-face{
    font-family:'WantedSans';
    font-weight:500;
    src:url("../font/WantedSans-Medium.woff") format('woff');
}
@font-face{
    font-family:'WantedSans';
    font-weight:400;
    src:url("../font/WantedSans-Regular.woff") format('woff');
}

/* N */
@font-face{
    font-family:'N';
    font-weight:600;
    src:url("../font/NEXEN_TIRE_Bold.woff") format('woff');
}

/* HSB */
@font-face{
    font-family:'HSB';
    font-weight:400;
    src:url("../font/HSBombaram3.0_Regular.woff") format('woff');
}

/* Ari */
@font-face{
    font-family:'Ari';
    font-weight:400;
    src:url("../font/arita-burib.woff") format('woff');
}
@font-face{
    font-family:'Ari';
    font-weight:500;
    src:url("../font/arita-burim.woff") format('woff');
    }

/* HKJ */
@font-face{
    font-family:'HKJ';
    font-weight:400;
    src:url("../font/HakgyoansimJiugaeR.woff") format('woff');
}

/* SolKim */
@font-face{
    font-family:'SolKim';
    font-weight:500;
    src:url("../font/SolKim-Medium.woff") format('woff');
    }