@charset "utf-8";

@font-face{
    font-family: 'MaruBuri-Regular';
    font-weight: normal;
    src: url("../font/MaruBuri-Regular.woff") format('woff');
}

@font-face{
    font-family: 'Gmarket';
    font-weight: 200;
    src: url("../font/GmarketSans-Light.woff2") format('woff2'),
    url("../font/GmarketSans-Light.woff") format('woff');
}
@font-face{
    font-family: 'Gmarket';
    font-weight: 400;
    src: url("../font/GmarketSans-Medium.woff2") format('woff2'),
    url("../font/GmarketSans-Medium.woff") format('woff');
}
@font-face{
    font-family: 'Gmarket';
    font-weight: 600;
    src: url("../font/GmarketSans-Bold.woff2") format('woff2'),
    url("../font/GmarketSans-Bold.woff") format('woff');
}

/* Montserrat */
@font-face{
    font-family:'Montserrat';
    font-weight:300;
    src: url("../font/Montserrat-Light.woff") format('woff');
}
@font-face{
    font-family:'Montserrat';
    font-weight:400;
    src: url("../font/Montserrat-Regular.woff") format('woff');
}
@font-face{
    font-family:'Montserrat';
    font-weight:550;
    src: url("../font/Montserrat-SemiBold.woff") format('woff');
}
@font-face{
    font-family:'Montserrat';
    font-weight:600;
    src: url("../font/Montserrat-Bold.woff") format('woff');
}
@font-face{
    font-family:'Montserrat';
    font-weight:700;
    src: url("../font/Montserrat-ExtraBold.woff") format('woff');
}

/* 빙그레 */
@font-face{
    font-family:'Binggrae';
    font-weight:600;
    src: url("../font/Binggrae-Bold.woff") format('woff');
}

/* SCDream */
@font-face{
    font-family:'SCDream';
    font-weight: 100;
    src: url("../font/SCDream-Thin.woff2") format('woff2'),
    url("../font/SCDream-Thin.woff") format('woff');
}

@font-face{
    font-family:'SCDream';
    font-weight: 300;
    src: url("../font/SCDream-Light.woff2") format('woff2'),
    url("../font/SCDream-Light.woff") format('woff');
}

@font-face{
    font-family:'SCDream';
    font-weight: 400;
    src: url("../font/SCDream-Regular.woff2") format('woff2'),
    url("../font/SCDream-Regular.woff") format('woff');
}

@font-face{
    font-family:'SCDream';
    font-weight: 500;
    src: url("../font/SCDream-Medium.woff2") format('woff2'),
    url("../font/SCDream-Medium.woff") format('woff');
}

@font-face{
    font-family:'SCDream';
    font-weight: 600;
    src: url("../font/SCDream-Bold.woff2") format('woff2'),
    url("../font/SCDream-Bold.woff") format('woff');
}

@font-face{
    font-family:'SCDream';
    font-weight: 700;
    src: url("../font/S-CoreDream-7ExtraBold.woff") format('woff');
}

@font-face{
    font-family:'SCDream';
    font-weight:900;
    src:url("../font/SCDream-Black.woff2") format('woff2'),
    url("../font/SCDream-Black.woff") format('woff');
}

/* Giants */
@font-face{
    font-family:'Giants';
    font-weight:400;
    src:url("../font/Giants-Rehular.woff2") format('woff2'),
    url("../font/Giants-Rehular.woff") format('woff');
}
@font-face{
    font-family:'Giants';
    font-weight:600;
    src:url("../font/Giants-Bold.woff2") format('woff2'),
    url("../font/Giants-Bold.woff") format('woff');
}

/* Jalnan */
@font-face{
    font-family:'Jalnan';
    font-weight:400;
    src: url("../font/Jalnan.woff") format('woff');
}