@charset "UTF-8";



header{
    height: 80px;
}
#main-logo{
    width: 160px;
}
#main-menu{
    display: none;
}
#burger_menu{
    display: block;
}


.menu-section{
    height: 300px;
}
.menu-section .inner ul li{
    width: 15.000275%;
    height: 50px;
    border-radius: 7px;
}



.location-title{
    height: 90px;
}
.title-kr{
    font-size: 20px;
    line-height: 28px;
}
.title-line{
    height: 20px;
}
.title-en{
    font-size: 18px;
    line-height: 28px;
}
.location-menu-kr{
    line-height: 16px;
}



/* contents */

/* banner */

.banner-title{
    font-size: 16px;
    text-align: center;
    padding: 40px 0;
}



/* category */

.category{
    padding: 40px 0 40px 20px;
}
.category-contents{
    width: 300%;
    padding-right: 20px;
}



/* food */

.food-contents{
    gap: 4%;
}
.food-contents li{
    width: 48%;
    padding: 10px;
}
.food-title-kr{
    font-size: 14px;
}
.food-text{
    height: 75px;
    font-size: 10px;
    word-break: unset;
}
.food-price-top, .food-price-bot{
    width: 100%;
}
.pack{
    width: auto;
    font-size: 10px;
    white-space: nowrap;
}
.price{
    width: 100%;
    font-size: 12px;
}
#concretes-location{
    gap: 20px;
}
.concretes-info img{
    width: 50px;
}
.concretes-info p{
    font-size: 16px;
    line-height: 20px;
}
.view-info{
    width: 110px;
    height: 30px;
}
.view-info p{
    font-size: 14px;
}
.view-info img{
    width: 20px;
}



/* table */

table{
    width: 100%;
}




.footer-top{
    flex-direction: column;
    gap: 40px;
}
.footer-bot p{
    font-size: 10px;
}