@charset "UTF-8";



header{
    height: 80px;
}
#main-logo{
    width: 160px;
}
#main-menu{
    display: none;
}
#burger_menu{
    display: block;
}



.slide-img{
    width: 150%;
}



.title{
    display: none;
}
.category{
    padding: 40px 0;
}
.mobile-box{
    width: 100%;
    display: block;
    overflow-x: auto;
}
.category .inner{
    width: 300%;
    flex-direction: row;
    justify-content: start;
    gap: 1%;
}
.category-contents{
    height: 90px;
}
.category-top{
    padding-left: 20px;
}
.category-bot{
    padding-right: 20px;
}



.quick-menu-contents{
    flex-direction: column;
    gap: 20px;
}
.quick-menu-contents li{
    width: 100%;
}
.quick-menu-text{
    margin: 10px 0;
}



.youtube{
    height: 240px;
}
.social-right{
    padding: 0;
}
.social-text span{
    font-size: 16px;
}
.social-text p{
    font-size: 10px;
}
.social-sns-contents{
    gap: 0;
}
.social-sns-contents span{
    display: none;
}



.footer-top{
    flex-direction: column;
    gap: 40px;
}
.footer-bot p{
    font-size: 10px;
}